#-------------------------------------------------------------------------------------
# Radar DynamicData RRM SRI - Configuration Algorithm
# Version 1.0.0 (20151201)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Path information
oPathInfo = {	
				'DataStatic'			:	'/home/fabio/Desktop/Project_RegioneMarche/data/static_data/land/outcome/',
				'DataDynamicSource'		:	'/home/fabio/Desktop/Project_RegioneMarche/data/dynamic_data/source/observation/radar/', 	# Tags: yyyy, mm, dd
				'DataDynamicOutcome'	: 	'/home/fabio/Desktop/Project_RegioneMarche/data/dynamic_data/outcome/observation/radar/$yyyy/$mm/$dd/',	# Tags: yyyy, mm, dd
				'DataCache'				:	'/home/fabio/Desktop/Project_RegioneMarche/data/cache/$yyyy/$mm/$dd/',
				'DataTemp'				:	'/home/fabio/Desktop/Project_RegioneMarche/data/temp/',
				'Library' 			    : 	'/home/fabio/Desktop/Project_RegioneMarche/library/',
				}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# General Information
oGeneralInfo = {
					'Conventions' 						:	'CF-1.6',
  				 	'title' 							: 	'Radar DynamicData RRM-SRI Pre-Processing',
  				  	'institution' 						: 	'CIMA Research Foundation - www.cimafoundation.org',
  				  	'web-site' 							: 	'http://continuum.cimafoundation.org',
  				  	'source' 							: 	'Radar DynamicData RRM-SRI',
  				  	'history'							: 	'Python Module - DynamicData RRM-SRI in NetCDF format for Radar data',
  				  	'references'						: 	'http://cf-pcmdi.llnl.gov/ ; http://cf-pcmdi.llnl.gov/documents/cf-standard-names/ecmwf-grib-mapping',
  				  	'comment'							: 	'Author(s): Fabio Delogu ; Simone Gabellani',
  				  	'email'								: 	'fabio.delogu@cimafoundation.org ; simone.gabellani@cimafoundation.org',
  				  	'project-info'						:	'HMC Hydrological Model Continuum',
  				  	'algorithm'							:	'Radar DynamicData RRM SRI - Version 1.0.0 (20151201)',
		   		 }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Parameter(s) Information
oParamsInfo = {
				'DomainName' 		:	'marche',			# string
			   	'TimeNow'			:	'201511051000',		# format yyyymmddHHMM (undefined == '' for op chain)
			   	'TimeStep'			:	3600, 				# seconds
			   	'TimePeriod'		:	5,					# ntimes per timestep data processing (min value == 1)
			   	'TimeUpd'			:	1,					# ntimes per timestep data re-processing (min value == 1)
			   	'TimeWorldRef'  :   {'TimeType': 'gmt', 'TimeLoad' : 0, 'TimeSave' : 0}, # 'local' or 'gmt' tags; timeload and timesave in hours difference referred to timetype

				'FileConfigStatic'	:	'/home/fabio/Desktop/Project_RegioneMarche/hmc_tools_datacreator/radar_rrm/config_variables/radar_dynamicdata_rrm-sri_varstatic.config',
				'FileConfigDynamic'	:	'/home/fabio/Desktop/Project_RegioneMarche/hmc_tools_datacreator/radar_rrm/config_variables/radar_dynamicdata_rrm-sri_vardynamic.config',
			   }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# GeoSystem Information
oGeoSystemInfo = {
					'epsg_code' : 						4326,
  				  	'grid_mapping_name' : 				'latitude_longitude',
  				  	'longitude_of_prime_meridian' : 	0.0,
  				  	'semi_major_axis' : 				6378137.0,
  				  	'inverse_flattening' : 				298.257223563,
		   		 }
#-------------------------------------------------------------------------------------

