#-------------------------------------------------------------------------------------
# ARAD Model ECMWF 0125 - Configuration Dynamic Variable(s)
# Version 1.0.0 (20151103)
#
# VARIABLE OPTION(s)
# VarType				---> 	'Grid', 'Point'
# VarTimeStep			---> 	>=0
# Zip 					---> 	'NoZip', 'GZip'
# Interpolation Point 	---> 	'IDW', 'NN', 'ZReg'
# Interpolation Grid 	---> 	'NN'
# Save Func				---> 	write1DVar, write2DVar
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------		
# Data input dynamic dictionary
oDataInputDynamic	=	{ 
    'GRIB' 	:	{
        'Rain' 	: 
            { 	'VarType'	    : 'Grid',
				'VarTimeStep' 	: 3600,
				'VarAttributes'	: {
					 'long_name' 		: '',
					 'standard_name' 	: '',
					 'grid_mapping' 	: '',
					 'coordinates' 		: '',
					 'cell_method' 		: '',
					 'units' 			: 'mm', # kg m**-2
					 'pressure_level'	: '',
							    },
				'VarSource'		: '$yyyy$mm$dd-ecmwf0125.t00z.PRECI6', 
				'VarDims'		: {'X': '', 'Y': ''},
				'VarOp'			: {	
					'Op_GetEx'      : {	
						'Func' 			: '',
						'Name'			: '',
						'Comp'			: {},
						'Zip'			: '',
						'ScaleFactor'	: 1,
						'Format'		: '',
							        },
					'Op_Load'   :   {	
						'Func' 			: '',
						'Name'			: 'Rain',
						'Comp'			: {	
							'IN'    : { 'Var_1' : 'total_precipitation'},                                                                                    
						    'OUT'   : { 'Var_1' : 'Rain', 
						    			'Var_2' : 'CloudFactor', 
						    			'Var_3' : 'IncRadiation', 
						    			'Var_4' : 'AstroRadiation', 
									    },	       
									    },            
						'Zip'			: 'nzip',
						'ScaleFactor'	: 1,
						'Format'		: '',
								    },
					'Op_Save'   :   {	
						'Func' 			: '',
						'Name'			: '',
						'Comp'			: {},
						'Zip'			: '',
						'ScaleFactor'	: '',
						'Format'		: '',
								    },
					'Op_Math'   :   {	
						'Interpolation' : 	{'Func' : 'interpVarGridNN'},
						'Conversion'	:	{'Func' : 'computeVarMtoMM', 
										     'Keys' : {	
                                                'ClearSky' 	        : { 'Rain' : [0, 1],   		'CloudFactor' : 0.95 },
                                                'PartiallyCloudy' 	: { 'Rain' : [1, 3],   		'CloudFactor' : 0.75 },
                                                'LowCloudy'	        : { 'Rain' : [3, 5],   		'CloudFactor' : 0.65 },
                                                'Cloudy'	        : { 'Rain' : [5, 10],  		'CloudFactor' : 0.50 },
                                                'HighCloudy'        : { 'Rain' : [10, 'nan'], 	'CloudFactor' : 0.15 },
                                                    }, 
                                            },
						'Disaggregation'	:	{'Func' : ''},
						'Aggregation'		:	{'Func' : ''},
								},
				},
},
},
}

# Data output dynamic dictionary 
oDataOutputDynamic	=	{ 
	'Binary' : 	{	
		'IncRadiation'	: {
			'VarType'		: 'Grid',
			'VarTimeStep'	: 3600,
			'VarAttributes'	: {
				 'long_name' 		: '',
				 'standard_name' 	: '',
				 'grid_mapping' 	: '',
				 'coordinates' 		: '',
				 'cell_method' 		: '',
				 'units' 			: 'W/m^2',
				 'pressure_level'	: '',
			 				},
			'VarSource'	 	: 'radiation_$yyyy$mm$dd$HH$MM.bin',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
				'Op_GetEx'	: {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Load' 	: {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Save' 	: {	
					'Func' 			: 'write1DVar',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: 'gz',
					'ScaleFactor'	: 10,
					'Format'		: 'i',
							},
				'Op_Math' 	: {	
					'Interpolation' : '',
					'Conversion'	: '',
					'Disaggregation': '',
					'Aggregation'	: '',
							},
						},
						},
		'CloudFactor' 	: {
			'VarType'		: 'Grid',
			'VarTimeStep'	: 3600,
			'VarAttributes'	: {
				 'long_name' 		: '',
				 'standard_name' 	: '',
				 'grid_mapping' 	: '',
				 'coordinates' 		: '',
				 'cell_method' 		: '',
				 'units' 			: 'W/m^2',
				 'pressure_level'	: '',
			 				},
			'VarSource'	 	: 'cloudfactor_$yyyy$mm$dd$HH$MM.bin',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
				'Op_GetEx'	: {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Load' 	: {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Save' 	: {	
					'Func' 			: 'write1DVar',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: 'gz',
					'ScaleFactor'	: 10,
					'Format'		: 'i',
							},
				'Op_Math' 	: {	
					'Interpolation' : '',
					'Conversion'	: '',
					'Disaggregation': '',
					'Aggregation'	: '',
							},
						},
						},
		'AstroRadiation' : {
			'VarType'		: 'Grid',
			'VarTimeStep'	: 3600,
			'VarAttributes'	: {
				 'long_name' 		: '',
				 'standard_name' 	: '',
				 'grid_mapping' 	: '',
				 'coordinates' 		: '',
				 'cell_method' 		: '',
				 'units' 			: 'W/m^2',
				 'pressure_level'	: '',
			 				},
			'VarSource'	 	: 'aradiation_$yyyy$mm$dd$HH$MM.bin',
			'VarDims'		: {'X': '', 'Y': ''},
			'VarOp'			: {	
				'Op_GetEx'	: {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Load' 	: {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Save' 	: {	
					'Func' 			: 'write1DVar',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: 'gz',
					'ScaleFactor'	: 10,
					'Format'		: 'i',
							},
				'Op_Math' 	: {	
					'Interpolation' : '',
					'Conversion'	: '',
					'Disaggregation': '',
					'Aggregation'	: '',
							},
						},
						},
						
		}, # close bin
		
	'NetCDF' :	{
		'IncRadiation'	: {
			'VarType'		: 'Grid',
			'VarTimeStep'	: 3600,
			'VarAttributes'	: {
				 'long_name' 		: 'Incoming Radiation',
				 'standard_name' 	: 'incoming_radiation',
				 'grid_mapping' 	: 'crs',
				 'coordinates' 		: 'Longitude Latitude',
				 'cell_method' 		: '',
				 'units' 			: 'W/m^2',
				 'pressure_level'	: '',
									 },
			'VarSource'	 	: 'arad.ecmwf.$yyyy$mm$dd$HH$MM.nc',
			'VarDims'		: {'X': 'west_east', 'Y': 'south_north', 'time' : 'time'},
			'VarOp'			: {	
				'Op_GetEx' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Load' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Save' : {	
					'Func' 			: 'write3DVar',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: 'f4',
							},
				'Op_Math' : {	
					'Interpolation' : 	'',
					'Conversion'	:	'',
					'Disaggregation':	'',
					'Aggregation'	:	'',
							},
						},
						},		
		'AstroRadiation' : {
			'VarType'		: 'Grid',
			'VarTimeStep'	: 3600,
			'VarAttributes'	: {
				 'long_name' 		: 'Extraterrestrial Radiation',
				 'standard_name' 	: 'astronomical_radiation',
				 'grid_mapping' 	: 'crs',
				 'coordinates' 		: 'Longitude Latitude',
				 'cell_method' 		: '',
				 'units' 			: 'W/m^2',
				 'pressure_level'	: '',
									 },
			'VarSource'	 	: 'arad.ecmwf.$yyyy$mm$dd$HH$MM.nc',
			'VarDims'		: {'X': 'west_east', 'Y': 'south_north', 'time' : 'time'},
			'VarOp'			: {	
				'Op_GetEx' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Load' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Save' : {	
					'Func' 			: 'write3DVar',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: 'f4',
							},
				'Op_Math' : {	
					'Interpolation' : 	'',
					'Conversion'	:	'',
					'Disaggregation':	'',
					'Aggregation'	:	'',
							},
						},
						},	
		'CloudFactor' :	{
			'VarType'		: 'Grid',
			'VarTimeStep'	: 3600,
			'VarAttributes'	: {
				 'long_name' 		: 'Cloud Factor',
				 'standard_name' 	: 'cloudy_dactor_hourly',
				 'grid_mapping' 	: 'crs',
				 'coordinates' 		: 'Longitude Latitude',
				 'cell_method' 		: '',
				 'units' 			: '-',
				 'pressure_level'	: '',
									 },
			'VarSource'	 	: 'arad.ecmwf.$yyyy$mm$dd$HH$MM.nc',
			'VarDims'		: {'X': 'west_east', 'Y': 'south_north', 'time' : 'time'},
			'VarOp'			: {	
				'Op_GetEx' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Load' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Save' : {	
					'Func' 			: 'write3DVar',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: 'f4',
							},
				'Op_Math' : {	
					'Interpolation' : 	'',
					'Conversion'	:	'',
					'Disaggregation':	'',
					'Aggregation'	:	'',
							},
						},
						},	
		'Longitude'	: 	{
			'VarType'			:	'Grid',
			'VarTimeStep'		:	0,
			'VarAttributes'		: 	{
				 'long_name' 		: 'longitude coordinate',
				 'standard_name' 	: 'longitude',
				 'grid_mapping' 	: '',
				 'coordinates' 		: '',
				 'cell_method' 		: '',
				 'units' 			: 'degree_east',
				 'pressure_level'	: '',
			 },
			'VarSource'	 		: 	'arad.ecmwf.$yyyy$mm$dd$HH$MM.nc',
			'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
			'VarOp'				:	{	
				'Op_GetEx' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Load' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Save' : {	
					'Func' 			: 'write2DVar',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: 'f4',
							},
				'Op_Math' : {	
					'Interpolation' : '',
					'Conversion'	: '',
					'Disaggregation': '',
					'Aggregation'	: '',
							},
						},
						},
		'Latitude' : 	{
			'VarType'			:	'Grid',
			'VarTimeStep'		:	0,
			'VarAttributes'		: 	{
				 'long_name' 		: 'latitude coordinate',
				 'standard_name' 	: 'latitude',
				 'grid_mapping' 	: '',
				 'coordinates' 		: '',
				 'cell_method' 		: '',
				 'units' 			: 'degree_north',
				 'pressure_level'	: '',
			 },
			'VarSource'	 		: 	'arad.ecmwf.$yyyy$mm$dd$HH$MM.nc',
			'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
			'VarOp'				:	{	
				'Op_GetEx' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Load' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Save' : {	
					'Func' 			: 'write2DVar',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: 'f4',
							},
				'Op_Math' : {	
					'Interpolation' : '',
					'Conversion'	: '',
					'Disaggregation': '',
					'Aggregation'	: '',
							},
						},
						},
		'Terrain' : 	{
			'VarType'			:	'Grid',
			'VarTimeStep'		:	0,
			'VarAttributes'		: 	{
				 'long_name' 		: 'geometric height',
				 'standard_name' 	: 'altitude',
				 'grid_mapping' 	: '',
				 'coordinates' 		: '',
				 'cell_method' 		: '',
				 'units' 			: 'm',
				 'pressure_level'	: '',
			 },
			'VarSource'	 		: 	'arad.ecmwf.$yyyy$mm$dd$HH$MM.nc',
			'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
			'VarOp'				:	{	
				'Op_GetEx' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Load' : {	
					'Func' 			: '',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: '',
							},
				'Op_Save' : {	
					'Func' 			: 'write2DVar',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: 'gz',
					'ScaleFactor'	: 1,
					'Format'		: 'f4',
							},
				'Op_Math' : {	
					'Interpolation' : '',
					'Conversion'	: '',
					'Disaggregation': '',
					'Aggregation'	: '',
							},
						},
						},
						
			}, # close nc
			
} # close all dictionary
					
#-------------------------------------------------------------------------------------


