#-------------------------------------------------------------------------------------
# HMC Model Cleaner DynamicData - Configuration Algorithm
# Version 1.0.0 (20151205)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Path information
oPathInfo = {	
				'DataStatic'		    :	'/home/fabio/Desktop/Project_RegioneMarche/data/static_data/land/outcome/',
				'DataDynamicSource'		:	'/home/fabio/Desktop/Project_RegioneMarche/data/dynamic_data/source/observation/kalman-filter/$yyyy/$mm/$dd/',
				'DataDynamicOutcome'	: 	'/home/fabio/Desktop/Project_RegioneMarche/data/dynamic_data/outcome/observation/kalman-filter/$yyyy/$mm/$dd/',
				'DataAncillary'         :   '/home/fabio/Desktop/Project_RegioneMarche/data/static_data/expert_forecast/',
				'DataTemp'				:	'/home/fabio/Desktop/Project_RegioneMarche/data/dynamic_data/temp/',
				'DataCache'             :   '/home/fabio/Desktop/Project_RegioneMarche/data/dynamic_data/cache/$yyyy/$mm/$dd/',
				'Library'				: 	'/home/fabio/Desktop/Project_RegioneMarche/library/',
				}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# General Information
oGeneralInfo = {
					'Conventions' 						:	'CF-1.6',
  				 	'title' 							: 	'HMC Model Cleaner DynamicData',
  				  	'institution' 						: 	'CIMA Research Foundation - www.cimafoundation.org',
  				  	'web-site' 							: 	'http://continuum.cimafoundation.org',
  				  	'source' 							: 	'HMC Model Cleaner DynamicData',
  				  	'history'							: 	'Python Module - HMC Model Cleaner DynamicData',
  				  	'references'						: 	'http://cf-pcmdi.llnl.gov/ ; http://cf-pcmdi.llnl.gov/documents/cf-standard-names/ecmwf-grib-mapping',
  				  	'comment'							: 	'Author(s): Fabio Delogu ; Simone Gabellani ; Francesco Silvestro',
  				  	'email'								: 	'fabio.delogu@cimafoundation.org ; simone.gabellani@cimafoundation.org ; francesco.silvestro@cimafoundation.org',
  				  	'project-info'						:	'HMC Hydrological Model Continuum',
  				  	'algorithm'							:	'HMC Model Cleaner DynamicData - Version 1.0.0 (20151205)',
		   		 }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Parameter(s) Information
oParamsInfo = {
				'DomainName' 	:	'marche',			# string
			   	'TimeNow'		:	'201602180900',		# format yyyymmddHHMM (undefined == '' for op chain)
			   	'TimeStep'		:	86400, 				# seconds
			   	'TimePeriod'	:	0,					# ntimes per timestep (min value == 1)
			   	'TimeUpd'		:	1,					# ntimes per timestep data re-processing (min value == 1)
			   	'TimeWorldRef'  :   {'TimeType': 'gmt', 'TimeLoad' : 0, 'TimeSave' : 0}, # 'local' or 'gmt' tags; timeload and timesave in hours difference referred to timetype

 				'FileConfigStatic'	:	'/home/fabio/Desktop/Project_RegioneMarche/hmc_tools_cleaner/config_variables/hmc_model_cleaner-dynamicdata_varstatic.config',
				'FileConfigDynamic'	:	'/home/fabio/Desktop/Project_RegioneMarche/hmc_tools_cleaner/config_variables/hmc_model_cleaner-dynamicdata_vardynamic.config',
			   }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# GeoSystem Information
oGeoSystemInfo = {
					'epsg_code' : 						4326,
  				  	'grid_mapping_name' : 				'latitude_longitude',
  				  	'longitude_of_prime_meridian' : 	0.0,
  				  	'semi_major_axis' : 				6378137.0,
  				  	'inverse_flattening' : 				298.257223563,
		   		 }
#-------------------------------------------------------------------------------------
