#-------------------------------------------------------------------------------------
# HMC PostProcessing - Dynamic variable(s) configuration
# Version 1.0.0 (20151110)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# TAGS:
# $yyyy, $mm, $dd, $HH, $MM, $VAR, $DOMAIN, $RUN
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------														
# Data output dynamic dictionary 
oDataArchiveDynamic = {																
    'Section_Q'	:       {
	    'FileName'              : 'hmc.discharge.$yyyy$mm$dd$HH$MM.txt',	
		'FilePath'		        : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/point/section_q/$TYPE/',
		'FileType'		        : 1,	# 1 = ASCII
		'FileTimeRes'	        : 3600, # time resolution
		
		'FileNameHistory'       : 'hmc.discharge.$yyyy$mm$dd$HH$MM.txt',
		'FilePathHistory'		: '/hydro/archive/realtime_ws-db/$yyyy/$mm/$dd/$HH/point/section_q/',
		
		'FileNameObs'           : 'rs.db.$yyyy$mm$dd$HH$MM.txt', 
		'FilePathObs'		    : '/hydro/data/dynamic_data/outcome/observation/rs/$yyyy/$mm/$dd/',
		
	                        },
    'Dam_V'	:       {
	    'FileName'              : 'hmc.vdam.$yyyy$mm$dd$HH$MM.txt',	
		'FilePath'		        : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/point/dam_volume/$TYPE/',
		'FileType'		        : 1,	# 1 = ASCII
		'FileTimeRes'	        : 3600, # time resolution
			
		'FileNameHistory'       : 'hmc.vdam.$yyyy$mm$dd$HH$MM.txt',
		'FilePathHistory'		: '/hydro/archive/realtime_ws-db/$yyyy/$mm/$dd/$HH/point/dam_volume/',
		
		'FileNameObs'           : '', 
		'FilePathObs'		    : '',
		
	                        },
    'Dam_L'	:       {
	    'FileName'              : 'hmc.ldam.$yyyy$mm$dd$HH$MM.txt',	
		'FilePath'		        : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/point/dam_level/$TYPE/',
		'FileType'		        : 1,	# 1 = ASCII
		'FileTimeRes'	        : 3600, # time resolution
		
		'FileNameHistory'       : 'hmc.ldam.$yyyy$mm$dd$HH$MM.txt',	
		'FilePathHistory'		: '/hydro/archive/realtime_ws-db/$yyyy/$mm/$dd/$HH/point/dam_level/',
		
		'FileNameObs'           : '', 
		'FilePathObs'		    : '',
		
	                        },
}

# Data timeseries dictionary 
oDataTimeSeriesDynamic = {																
    'Section_Q'	:       {
	    'FileName'              : 'hydrograph_$BASIN_$SECTION_$yyyy$mm$dd$HH$MM.txt',	
		'FilePath'		        : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/timeseries/section_q/',
		'FileType'		        : 1,	# 1 = ASCII
		'FileTimeRes'	        : 3600, # time resolution
	                        },
    'Dam_V'	:       {
	    'FileName'              : 'damV_$DAM_$INTAKE_$yyyy$mm$dd$HH$MM.txt',	
		'FilePath'		        : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/timeseries/dam_volume/',
		'FileType'		        : 1,	# 1 = ASCII
		'FileTimeRes'	        : 3600, # time resolution
	                        },
    'Dam_L'	:       {
	    'FileName'              : 'damL_$DAM_$INTAKE_$yyyy$mm$dd$HH$MM.txt',	
		'FilePath'		        : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/timeseries/dam_level/',
		'FileType'		        : 1,	# 1 = ASCII
		'FileTimeRes'	        : 3600, # time resolution
	                        },
}

# Data warnings dictionary 
oDataWarningsDynamic = {									
    'Section_Q'	:       {
	    'FileName'              : 'warnings_sections_$yyyy$mm$dd$HH$MM.txt',	
		'FilePath'		        : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/warnings/',
		'FileType'		        : 1,	# 1 = ASCII
		'FileTimeRes'	        : 3600, # time resolution
	                        },	
}																		
																
																
																
																																												
