#-------------------------------------------------------------------------------------
# NWP DynamicData LAMI I7 - Configuration Dynamic Variable(s)
# Version 2.0.4 (20150923)
#
# VARIABLE OPTION(s)
# VarType				---> 	'Grid', 'Point'
# VarTimeStep			---> 	>=0
# Zip 					---> 	'NoZip', 'GZip'
# Interpolation Point 	---> 	'IDW', 'NN', 'ZReg'
# Interpolation Grid 	---> 	'NN'
# Save Func				---> 	write1DVar, write2DVar
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------		
# Data input dynamic dictionary
oDataInputDynamic	=	{ 'GRIB' 	:	{
									'Rain' 			: 		{ 	'VarType'	 		:	'Grid',
																'VarTimeStep' 		: 	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'mm', # kg m**-2
																							 'pressure_level'	: '',
																						 },
																'VarSource'			: 	'$yyyy$mm$dd-ecmwf0125.t00z.PRECI6', 
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'Rain',
																											'Comp'				:	{	
																																		'IN' : {'Var_1' : 'total_precipitation'},                                                                                    
																											                            'OUT': {'Var_1' : 'Rain'}, 
																																	 },	                   
																											'Zip'				:	'nzip',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	'',
																											'Format'			:	'',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	{'Func' : 'interpVarGridNN'},
																											'Conversion'		:	{'Func' : 'computeVarMtoMM'},
																											'Disaggregation'	:	{'Func' : ''},
																											'Aggregation'		:	{'Func' : ''},
																										},
																						},
																
															},
					  				'AirTemperature' 	: 	{ 	'VarType' 			: 	'Grid',
																'VarTimeStep' 		: 	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'K',
																							 'pressure_level'	: '',
																						 },
																'VarSource'			: 	'$yyyy$mm$dd-ecmwf0125.t00z.T2m', 
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{		
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'AirTemperature',
																											'Comp'				:	{	
																																		'IN' : {'Var_1' : '2_metre_temperature'},                                                                                    
																											                            'OUT': {'Var_1' : 'AirTemperature'}, 
																																	 },	             
																											'Zip'				:	'nzip',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	'',
																											'Format'			:	'',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	{'Func' : 'interpVarGridNN'},
																											'Conversion'		:	{'Func' : 'computeVarKtoC'},
																											'Disaggregation'	:	{'Func' : ''},
																											'Aggregation'		:	{'Func' : ''},
																										},
																						},
															},
					  				'Wind'				: 	{ 	'VarType' 			: 	'Grid',
																'VarTimeStep' 		: 	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'm/s',
																							 'pressure_level'	: '',
																						 },
																'VarSource'			: 	'$yyyy$mm$dd-ecmwf0125.t00z.VENTO10m',
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{		
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'Wind',
																											'Comp'				:	{	
																																		'IN' : {'Var_1' : '10_metre_u_wind_component', 'Var_2' : '10_metre_v_wind_component'},                                                                                    
																											                            'OUT': {'Var_1' : 'Wind'}, 
																																	 },	
																											'Zip'				:	'nzip',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	'',
																											'Format'			:	'',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	{'Func' : 'interpVarGridNN'},
																											'Conversion'		:	{'Func' : 'computeVarUVtoSpeed'},
																											'Disaggregation'	:	{'Func' : ''},
																											'Aggregation'		:	{'Func' : ''},
																										},
																						},
															},
					  				'RelHumidity'		: 	{ 	'VarType' 			: 	'Grid',
																'VarTimeStep' 		: 	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: '%',
																							 'pressure_level'	: '',
																						 },
																'VarSource'			: 	'$yyyy$mm$dd-ecmwf0125.t00z.RH2m',
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'RelHumidity',
																											'Comp'				:	{	
																																		'IN' : {'Var_1' : 'relative_humidity'},                                                                                    
																											                            'OUT': {'Var_1' : 'RelHumidity'}, 
																																	 },	
																											'Zip'				:	'nzip',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	'',
																											'Format'			:	'',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	{'Func' : 'interpVarGridNN'},
																											'Conversion'		:	{'Func' : ''},
																											'Disaggregation'	:	{'Func' : ''},
																											'Aggregation'		:	{'Func' : ''},
																										},
																						},
															},
					  				'IncRadiation'		: 	{ 	'VarType' 			: 	'Grid',
																'VarTimeStep' 		: 	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'W/m^2',
																							 'pressure_level'	: '',
																						 },
																'VarSource'			: 	'',
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'IncRadiation',
																											'Comp'				:	{	
																																		'IN' : {'Var_1' : 'net_short-wave_radiation_flux_(surface)'},                                                                                    
																											                            'OUT': {'Var_1' : 'IncRadiation'}, 
																																	 },	
																											'Zip'				:	'nzip',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	'',
																											'Format'			:	'',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	{'Func' : 'interpVarGridNN'},
																											'Conversion'		:	{'Func' : 'computeVarNetSWtoIncSW'},
																											'Disaggregation'	:	{'Func' : ''},
																											'Aggregation'		:	{'Func' : ''},
																										},
																						},
															},
					  				'AirPressure'		:	{ 	'VarType' 			: 	'Grid',
																'VarTimeStep' 		: 	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'kPa',
																							 'pressure_level'	: '',
																						 },
																'VarSource'			: 	'',
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'AirPressure',
																											'Comp'				:	{	
																																		'IN' : {'Var_1' : ''},                                                                                    
																											                            'OUT': {'Var_1' : 'AirPressure'}, 
																																	 },	
																											'Zip'				:	'nzip',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	'',
																											'Format'			:	'',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	{'Func' : 'interpVarGridNN'},
																											'Conversion'		:	'',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},
									},
	  				}

# Data output dynamic dictionary 
oDataOutputDynamic	=	{ 'Binary' : 	{	
									'Rain'				: 	{	
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'mm',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'rain_$yyyy$mm$dd$HH$MM.bin',
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write1DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	10,
																											'Format'			:	'i',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:   '',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},
									'AirTemperature'	: 	{
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'C',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'temperature_$yyyy$mm$dd$HH$MM.bin',
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write1DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	10,
																											'Format'			:	'i',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:   '',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},
									'Wind' 				:	{
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'm/s',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'wind_$yyyy$mm$dd$HH$MM.bin',
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write1DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	10,
																											'Format'			:	'i',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:   '',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},
									'RelHumidity' 		: 	{	
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: '%',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'relhumidity_$yyyy$mm$dd$HH$MM.bin',
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write1DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	10,
																											'Format'			:	'i',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:   '',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},
									'IncRadiation'	 	: 	{
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'W/m^2',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'radiation_$yyyy$mm$dd$HH$MM.bin',
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write1DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	10,
																											'Format'			:	'i',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:   '',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},
									'AirPressure'		: 	{	
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'kPa',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'pressure_$yyyy$mm$dd$HH$MM.bin',
																'VarDims'			:	{'X': '', 'Y': ''},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write1DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	10,
																											'Format'			:	'i',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:   '',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},
										},
						'NetCDF'	:	{
									'Rain'				: 	{	
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: 'crs',
																							 'coordinates' 		: 'Longitude Latitude',
																							 'cell_method' 		: '',
																							 'units' 			: 'mm',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'nwp.ecmwf.$yyyy$mm$dd$HH$MM.nc',
																'VarDims'			:	{'X': 'west_east', 'Y': 'south_north', 'time' : 'time'},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write3DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	1,
																											'Format'			:	'f4',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:	'',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},
									'AirTemperature'	: 	{
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: 'crs',
																							 'coordinates' 		: 'Longitude Latitude',
																							 'cell_method' 		: '',
																							 'units' 			: 'C',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'nwp.ecmwf.$yyyy$mm$dd$HH$MM.nc',
																'VarDims'			:	{'X': 'west_east', 'Y': 'south_north', 'time' : 'time'},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write3DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	1,
																											'Format'			:	'f4',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:	'',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},
									'Wind'				: 	{
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: 'crs',
																							 'coordinates' 		: 'Longitude Latitude',
																							 'cell_method' 		: '',
																							 'units' 			: 'm/s',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'nwp.ecmwf.$yyyy$mm$dd$HH$MM.nc',
																'VarDims'			:	{'X': 'west_east', 'Y': 'south_north', 'time' : 'time'},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write3DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	1,
																											'Format'			:	'f4',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:	'',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},
									'RelHumidity'		: 	{
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: 'crs',
																							 'coordinates' 		: 'Longitude Latitude',
																							 'cell_method' 		: '',
																							 'units' 			: '%',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'nwp.ecmwf.$yyyy$mm$dd$HH$MM.nc',
																'VarDims'			:	{'X': 'west_east', 'Y': 'south_north', 'time' : 'time'},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write3DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	1,
																											'Format'			:	'f4',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:	'',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},
									'IncRadiation'		: 	{
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: 'crs',
																							 'coordinates' 		: 'Longitude Latitude',
																							 'cell_method' 		: '',
																							 'units' 			: 'W/m^2',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'nwp.ecmwf.$yyyy$mm$dd$HH$MM.nc',
																'VarDims'			:	{'X': 'west_east', 'Y': 'south_north', 'time' : 'time'},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write3DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	1,
																											'Format'			:	'f4',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:	'',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},						
									'AirPressure'		: 	{
																'VarType'			:	'Grid',
																'VarTimeStep'		:	3600,
																'VarAttributes'		: 	{
																							 'long_name' 		: '',
																							 'standard_name' 	: '',
																							 'grid_mapping' 	: 'crs',
																							 'coordinates' 		: 'Longitude Latitude',
																							 'cell_method' 		: '',
																							 'units' 			: 'kPa',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'nwp.ecmwf.$yyyy$mm$dd$HH$MM.nc',
																'VarDims'			:	{'X': 'west_east', 'Y': 'south_north', 'time' : 'time'},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write3DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	1,
																											'Format'			:	'f4',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:	'',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},	
									'Longitude'			: 	{
																'VarType'			:	'Grid',
																'VarTimeStep'		:	0,
																'VarAttributes'		: 	{
																							 'long_name' 		: 'longitude coordinate',
																							 'standard_name' 	: 'longitude',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'degree_east',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'nwp.ecmwf.$yyyy$mm$dd$HH$MM.nc',
																'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write2DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	1,
																											'Format'			:	'f4',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:	'',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},	
									'Latitude'			: 	{
																'VarType'			:	'Grid',
																'VarTimeStep'		:	0,
																'VarAttributes'		: 	{
																							 'long_name' 		: 'latitude coordinate',
																							 'standard_name' 	: 'latitude',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'degree_north',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'nwp.ecmwf.$yyyy$mm$dd$HH$MM.nc',
																'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write2DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	1,
																											'Format'			:	'f4',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:	'',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},	
									'Terrain'			: 	{
																'VarType'			:	'Grid',
																'VarTimeStep'		:	0,
																'VarAttributes'		: 	{
																							 'long_name' 		: 'geometric height',
																							 'standard_name' 	: 'altitude',
																							 'grid_mapping' 	: '',
																							 'coordinates' 		: '',
																							 'cell_method' 		: '',
																							 'units' 			: 'm',
																							 'pressure_level'	: '',
																						 },
																'VarSource'	 		: 	'nwp.ecmwf.$yyyy$mm$dd$HH$MM.nc',
																'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
																'VarOp'				:	{	
																							'Op_GetEx' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Load' : {	
																											'Func' 				: 	'',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'',
																											'ScaleFactor'		:	1,
																											'Format'			:	'',
																										},
																							'Op_Save' : {	
																											'Func' 				: 	'write2DVar',
																											'Name'				:	'',
																											'Comp'				:	{},
																											'Zip'				:	'gz',
																											'ScaleFactor'		:	1,
																											'Format'			:	'f4',
																										},
																							'Op_Math' : {	
																											'Interpolation' 	: 	'',
																											'Conversion'		:	'',
																											'Disaggregation'	:	'',
																											'Aggregation'		:	'',
																										},
																						},
															},	
									 	 },
					}
					
#-------------------------------------------------------------------------------------


