#-------------------------------------------------------------------------------------
# HMC PostProcessing - Settings File
# Version 1.0.0 (20151110)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# TAGS:
# $FILEEXEC, $UC, $UH, $CT, $CF, $DOMAIN, $CPI, $RF, $VMAX, $SLOPEMAX, $DOMAIN, $VAR, $RUN, $yyyy, $mm, $dd, $HH, $MM, $ENS
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Path information
oPathInfo = {	

    'DataTemp'				        : '/hydro/run/$RUN/temp/',
    'DataCache'                     : '/hydro/run/$RUN/cache/$yyyy/$mm/$dd/$HH/',
    
    'Run'	                        : '/hydro/run/$RUN/exec/',
    'Library'				        : '/hydro/library/hmc_model-apps_2.0.5/',

}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# General Information
oGeneralInfo = {
    'Conventions' 	                : 'CF-1.6',
    'title' 		                : 'HMC PostProcessing Dewetra',
    'institution' 	                : 'CIMA Research Foundation - www.cimafoundation.org',
    'web-site' 		                : 'http://continuum.cimafoundation.org',
    'source' 		                : 'HMC PostProcessing',
    'history'		                : 'Python Module - HMC PostProcessing Dewetra Module',
    'references'	                : 'http://cf-pcmdi.llnl.gov/ ; http://cf-pcmdi.llnl.gov/documents/cf-standard-names/ecmwf-grib-mapping',
    'comment'		                : 'Author(s): Fabio Delogu ; Simone Gabellani ; Francesco Silvestro',
    'email'			                : 'fabio.delogu@cimafoundation.org ; simone.gabellani@cimafoundation.org ; francesco.silvestro@cimafoundation.org',
    'project-info'	                : 'HMC - Hydrological Model Continuum',
    'algorithm'		                : 'HMC PostProcessing Dewetra - Version 1.0.0 (20151110)',
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Parameter(s) Information
oParamsInfo = {
    'DomainName' 	                : 'marche',             		    # string
    'RunName'                       : 'history_ef-lami-i7',            # string
    'RunDescription'                : 'ExpertForecast_Probabilistic',   # string
    
    'TimeNow'		                : '',       		            # format yyyymmddHHMM (undefined == '' for op chain)
    'TimeStep'		                : 3600, 			    		# seconds

    'TimeWorldRef'                  : {'TimeType': 'gmt', 'TimeLoad' : 0, 'TimeSave' : 0}, # 'local' or 'gmt' tags; timeload and timesave in hours difference referred to timetype
    
    'RunEnsemble'                   : {'EnsRun': True, 'EnsMin': 1, 'EnsMax': 30}, # EnsRun: True or False
                            
    'FileConfigStatic'              : '/hydro/hmc_tools_postprocessing/config_variables/hmc_postprocessing_timeseries-dewetra_varstatic_server_$RUN.config',
    'FileConfigDynamic'             : '/hydro/hmc_tools_postprocessing/config_variables/hmc_postprocessing_timeseries-dewetra_vardynamic_server_$RUN.config',
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# GeoSystem Information
oGeoSystemInfo = {
    'epsg_code'                     : 4326,
    'grid_mapping_name'             : 'latitude_longitude',
  	'longitude_of_prime_meridian'   : 0.0,
  	'semi_major_axis'               : 6378137.0,
  	'inverse_flattening'            : 298.257223563,
}
#-------------------------------------------------------------------------------------



