#-------------------------------------------------------------------------------------
# RF Model ECMWF 0125 - Algorithm Configuration
# Version 3.0.2 (20150924)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Path information
oPathInfo = {	
				'DataStatic'			:	'/hydro/data/static_data/land/',
				'DataDynamicSource'		:	'/hydro/data/dynamic_data/source/nwp/ecmwf0125/',
				'DataDynamicOutcome'	: 	'/hydro/data/dynamic_data/outcome/rainfarm/ecmwf0125/$yyyy/$mm/$dd/$ENS',
				'DataTemp'				:	'/hydro/data/dynamic_data/temp/',
				'DataCache'             :   '/hydro/data/dynamic_data/cache/$yyyy/$mm/$dd/',
				'Library'				: 	'/hydro/library/',
				}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# General Information
oGeneralInfo = {
					'Conventions' 						:	'CF-1.6',
  				 	'title' 							: 	'RF Model ECMWF 0125',
  				  	'institution' 						: 	'CIMA Research Foundation - www.cimafoundation.org',
  				  	'web-site' 							: 	'http://www.cimafoundation.org',
  				  	'source' 							: 	'Model RAINFARM',
  				  	'history'							: 	'Python Module - Model RAINFARM',
  				  	'references'						: 	'http://cf-pcmdi.llnl.gov/ ; http://cf-pcmdi.llnl.gov/documents/cf-standard-names/ecmwf-grib-mapping',
  				  	'comment'							: 	'Author(s): Fabio Delogu ; Simone Gabellani ; Francesco Silvestro ; Nicola Rebora',
  				  	'email'								: 	'fabio.delogu@cimafoundation.org ; simone.gabellani@cimafoundation.org ; francesco.silvestro@cimafoundation.org; nicola.rebora@cimafoundation.org',
  				  	'project-info'						:	'HMC - Hydrological Model Continuum',
  				  	'algorithm'							:	'RF Model ECMWF 0125 - Version 3.0.2 (20150924)',
		   		 }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Parameter(s) Information
oParamsInfo = {
				'DomainName' 	    : 	'marche',			    # string
			   	'TimeNow'		    :	'',                     # format yyyymmddHHMM (undefined == '' for op chain)
			   	'TimeStep'		    :	86400, 				    # seconds
			   	'TimePeriod'	    :	0,					    # ntimes per timestep (min value == 0)
		   		'TimeUpd'		    :	0,					    # ntimes per timestep data re-processing (-1 = no reprocessing (only new step), 0 = reprocessing step now, >0 = reprocessing n steps
		   		'TimeWorldRef'  :   {'TimeType': 'gmt', 'TimeLoad' : 0, 'TimeSave' : 0}, # 'local' or 'gmt' tags; timeload and timesave in hours difference referred to timetype
                'RunParams'         :   {                       # model parameters	
                                            'EnsembleN' : {'EnsMin': 36, 'EnsMax': 40}, # ensemble n (min values EnsMin=1, EnsMax=1)
                                            'RatioS' : 4,          	 # spatial disaggregated ratio (min value == 1)
                                            'RatioT' : 6,            # time disaggregated ratio (min value == 1)
                                            'SlopeS' : None,         # fft spatial slope (undefined == None)
                                            'SlopeT' : None,         # fft temporal slope (undefined == None)
                                            'CSsf' : 4,              # reliable spatial scale (spatial/Csst)
                                            'CTsf' : 2,              # reliable time scale (time model aggregated Ctsf times)
                                            'Multicore' : False,     # multicore process (False or True)
                                            'DomainEXT': 0,      	 # domain extended buffer (min value = 0) [km]
                                        },	
			   	'DB' 			    : 	{ 
                                            'ID'		: 'DB_UNKNOWN',	# (1) DB_UNKNOWN, (2) DB_RegMarche  
                                            'Server' 	: '',
                                            'Name'	    : '',
                                            'User'	    : '',
                                            'Password'  : ''
			   						    },
 				'FileConfigStatic'  :	'/hydro/hmc_tools_datacreator/rainfarm_ecmwf/config_variables/rf_model_ecmwf-0125_varstatic.config',
				'FileConfigDynamic'	:	'/hydro/hmc_tools_datacreator/rainfarm_ecmwf/config_variables/rf_model_ecmwf-0125_vardynamic.config',
			   }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# GeoSystem Information
oGeoSystemInfo = {'epsg_code' : 						4326,
  				  'grid_mapping_name' : 				'latitude_longitude',
  				  'longitude_of_prime_meridian' : 		0.0,
  				  'semi_major_axis' : 					6378137.0,
  				  'inverse_flattening' : 				298.257223563,
		   		 }
#-------------------------------------------------------------------------------------
