#-------------------------------------------------------------------------------------
# HMC Model Cleaner DynamicData - Configuration DataDynamic
# Version 1.0.0 (20151205)
#
# DataArchive = 0, 1, 2, 3 ... [Days]
# DataType = 'txt' , 'bin.gz', 'nc.gz', 'nc', 'csv'
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data sync dynamic dictionary 
oDataSyncDynamic	=	{ 
    'Data_01' : {'DataName': 'hmc.state', 'DataArchive': 1, 'DataHour' : {'Hour_1' : '0000', 'Hour_2' : '1200'}, 'DataType': 'nc.gz', 
                    'DataPathSource' : '/hydro/run/model_state/',
                    'DataPathDest' : '/hydro/archive/model_state/$YYYY/$MM/$DD/',
                    'SyncCommand' : 'rsync -au --progress $SOURCE $DEST'},
    'Data_02' : {'DataName': 'hmc.state', 'DataArchive': 1, 'DataHour' : {'Hour_1' : '0000', 'Hour_2' : '1200'}, 'DataType': 'txt', 
                    'DataPathSource' : '/hydro/run/model_state/',
                    'DataPathDest' : '/hydro/archive/model_state/$YYYY/$MM/$DD/',
                    'SyncCommand' : 'rsync -au --progress $SOURCE $DEST'},

}

# Data input dynamic dictionary
oDataInputDynamic	=	{ 

    'Data_OBS_MODIS_01' : {'DataName': 'MOD', 'DataArchive': 10, 'DataHour' : {}, 'DataType': 'hdf', 'DataPath' : '/hydro/data/dynamic_data/source/observation/modis/'},
    
    'Data_OBS_RADAR_01' : {'DataName': 'RRM', 'DataArchive': 8, 'DataHour' : {}, 'DataType': 'nc', 'DataPath' : '/hydro/data/dynamic_data/source/observation/radar/'},
    
    'Data_OBS_WS_01' : {'DataName': 'AirPressure', 'DataArchive': 30, 'DataHour' : {}, 'DataType': 'csv', 'DataPath' : '/hydro/data/dynamic_data/source/observation/ws/'},
    'Data_OBS_WS_02' : {'DataName': 'AirTemperature', 'DataArchive': 30, 'DataHour' : {}, 'DataType': 'csv', 'DataPath' : '/hydro/data/dynamic_data/source/observation/ws/'},
    'Data_OBS_WS_03' : {'DataName': 'IncRadiation', 'DataArchive': 30, 'DataHour' : {}, 'DataType': 'csv', 'DataPath' : '/hydro/data/dynamic_data/source/observation/ws/'},
    'Data_OBS_WS_04' : {'DataName': 'Rain', 'DataArchive': 30, 'DataHour' : {}, 'DataType': 'csv', 'DataPath' : '/hydro/data/dynamic_data/source/observation/ws/'},
    'Data_OBS_WS_05' : {'DataName': 'RelHumidity', 'DataArchive': 30, 'DataHour' : {}, 'DataType': 'csv', 'DataPath' : '/hydro/data/dynamic_data/source/observation/ws/'},
    'Data_OBS_WS_06' : {'DataName': 'SnowLevel', 'DataArchive': 30, 'DataHour' : {}, 'DataType': 'csv', 'DataPath' : '/hydro/data/dynamic_data/source/observation/ws/'},
    'Data_OBS_WS_07' : {'DataName': 'Wind', 'DataArchive': 30, 'DataHour' : {}, 'DataType': 'csv', 'DataPath' : '/hydro/data/dynamic_data/source/observation/ws/'},
    
    'Data_OBS_RS_01' : {'DataName': 'Discharge', 'DataArchive': 30, 'DataHour' : {}, 'DataType': 'csv', 'DataPath' : '/hydro/data/dynamic_data/source/observation/rs/'},
    
}

# Data output dynamic dictionary 
oDataOutputDynamic	=	{ 
    
    'Data_RF_ECMWF_01' : {'DataName': 'rain', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/rainfarm/ecmwf0125/'},
    'Data_RF_ECMWF_02' : {'DataName': 'rf', 'DataArchive': 10, 'DataHour' : {}, 'DataType': 'nc.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/rainfarm/ecmwf0125/'},
    
    'Data_RF_LAMI_01' : {'DataName': 'rain', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/rainfarm/lami/'},
    'Data_RF_LAMI_02' : {'DataName': 'rf', 'DataArchive': 10, 'DataHour' : {}, 'DataType': 'nc.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/rainfarm/lami/'},
    
    'Data_RF_EF_01' : {'DataName': 'rain', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/rainfarm/subjective-forecast/'},
    'Data_RF_EF_02' : {'DataName': 'rf', 'DataArchive': 10, 'DataHour' : {}, 'DataType': 'nc.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/rainfarm/subjective-forecast/'},
    
    'Data_ASTRORAD_ECMWF_01' : {'DataName': 'aradiation', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/astrorad/ecmwf0125/'},
    'Data_ASTRORAD_ECMWF_02' : {'DataName': 'cloudfactor', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/astrorad/ecmwf0125/'},
    'Data_ASTRORAD_ECMWF_03' : {'DataName': 'radiation', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/astrorad/ecmwf0125/'},
    'Data_ASTRORAD_ECMWF_04' : {'DataName': 'arad', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'nc.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/astrorad/ecmwf0125/'},
   
    'Data_NWP_ECMWF_01' : {'DataName': 'rain', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/nwp/ecmwf0125/'},
    'Data_NWP_ECMWF_02' : {'DataName': 'temperature', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/nwp/ecmwf0125/'},
    'Data_NWP_ECMWF_03' : {'DataName': 'relhumidity', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/nwp/ecmwf0125/'},
    'Data_NWP_ECMWF_04' : {'DataName': 'wind', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/nwp/ecmwf0125/'},
    'Data_NWP_ECMWF_05' : {'DataName': 'nwp', 'DataArchive': 10, 'DataHour' : {}, 'DataType': 'nc.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/nwp/ecmwf0125/'},
    
    'Data_NWP_LAMI_01' : {'DataName': 'rain', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/nwp/lami/'},
    'Data_NWP_LAMI_02' : {'DataName': 'temperature', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/nwp/lami/'},
    'Data_NWP_LAMI_03' : {'DataName': 'relhumidity', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/nwp/lami/'},
    'Data_NWP_LAMI_04' : {'DataName': 'wind', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/nwp/lami/'},
    'Data_NWP_LAMI_05' : {'DataName': 'radiation', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/nwp/lami/'},
    'Data_NWP_LAMI_06' : {'DataName': 'nwp', 'DataArchive': 10, 'DataHour' : {}, 'DataType': 'nc.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/nwp/lami/'},
    
    'Data_OBS_MODIS_01' : {'DataName': 'MOD', 'DataArchive': 10, 'DataHour' : {}, 'DataType': 'nc.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/modis/'},
    
    'Data_OBS_RADAR_01' : {'DataName': 'radar', 'DataArchive': 10, 'DataHour' : {}, 'DataType': 'nc.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/radar/'},
    
    'Data_OBS_WS_01' : {'DataName': 'rain', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/ws/'},
    'Data_OBS_WS_02' : {'DataName': 'kernel', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/ws/'},
    'Data_OBS_WS_03' : {'DataName': 'pressure', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/ws/'},
    'Data_OBS_WS_04' : {'DataName': 'radiation', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/ws/'},
    'Data_OBS_WS_05' : {'DataName': 'snowlevel', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/ws/'},
    'Data_OBS_WS_06' : {'DataName': 'relhumidity', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/ws/'},
    'Data_OBS_WS_07' : {'DataName': 'temperature', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/ws/'},
    'Data_OBS_WS_08' : {'DataName': 'wind', 'DataArchive': 1, 'DataHour' : {}, 'DataType': 'bin.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/ws/'},
    'Data_OBS_WS_09' : {'DataName': 'ws', 'DataArchive': 10, 'DataHour' : {}, 'DataType': 'nc.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/ws/'},
    
    'Data_OBS_RS_01' : {'DataName': 'rs', 'DataArchive': 10, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/rs/'},
    
    'Data_OBS_KF_01' : {'DataName': 'kf', 'DataArchive': 10, 'DataHour' : {}, 'DataType': 'nc.gz', 'DataPath' : '/hydro/data/dynamic_data/outcome/observation/kalman-filter/'},
    
    'Archive_RUN_WS_DB_01' : {'DataName': 'hmc.output-grid', 'DataArchive': 6, 'DataHour' : {}, 'DataType': 'nc.gz', 'DataPath' : '/hydro/archive/realtime_ws-db/'},
    'Archive_RUN_WS_DB_02' : {'DataName': 'hmc.discharge', 'DataArchive': 20, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_ws-db/'},
    'Archive_RUN_WS_DB_03' : {'DataName': 'hmc.ldam', 'DataArchive': 20, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_ws-db/'},
    'Archive_RUN_WS_DB_04' : {'DataName': 'hmc.vdam', 'DataArchive': 20, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_ws-db/'},
    'Archive_RUN_WS_DB_05' : {'DataName': 'hydrograph', 'DataArchive': 60, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_ws-db/'},
    'Archive_RUN_WS_DB_06' : {'DataName': 'damV', 'DataArchive': 60, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_ws-db/'},
    'Archive_RUN_WS_DB_07' : {'DataName': 'damL', 'DataArchive': 60, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_ws-db/'},

    'Archive_RUN_RADAR_SRI_01' : {'DataName': 'hmc', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_radar-sri/'},
    'Archive_RUN_RADAR_SRI_02' : {'DataName': 'hydrograph', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_radar-sri/'},
    'Archive_RUN_RADAR_SRI_03' : {'DataName': 'damV', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_radar-sri/'},
    'Archive_RUN_RADAR_SRI_04' : {'DataName': 'damL', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_radar-sri/'},
    
    'Archive_RUN_NWP_LAMI_01' : {'DataName': 'hmc', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_nwp-lami-i7/'},
    'Archive_RUN_NWP_LAMI_02' : {'DataName': 'hydrograph', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_nwp-lami-i7/'},
    'Archive_RUN_NWP_LAMI_03' : {'DataName': 'damV', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_nwp-lami-i7/'},
    'Archive_RUN_NWP_LAMI_04' : {'DataName': 'damL', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_nwp-lami-i7/'},
    
    'Archive_RUN_NWP_ECMWF_01' : {'DataName': 'hmc', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_nwp-ecmwf-0125/'},
    'Archive_RUN_NWP_ECMWF_02' : {'DataName': 'hydrograph', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_nwp-ecmwf-0125/'},
    'Archive_RUN_NWP_ECMWF_03' : {'DataName': 'damV', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_nwp-ecmwf-0125/'},
    'Archive_RUN_NWP_ECMWF_04' : {'DataName': 'damL', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_nwp-ecmwf-0125/'},
    
    'Archive_RUN_RF_LAMI_01' : {'DataName': 'hmc', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_rf-lami-i7/'},
    'Archive_RUN_RF_LAMI_02' : {'DataName': 'hydrograph', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_rf-lami-i7/'},
    'Archive_RUN_RF_LAMI_03' : {'DataName': 'damV', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_rf-lami-i7/'},
    'Archive_RUN_RF_LAMI_04' : {'DataName': 'damL', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_rf-lami-i7/'},
    
    'Archive_RUN_RF_ECMWF_01' : {'DataName': 'hmc', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_rf-ecmwf-0125/'},
    'Archive_RUN_RF_ECMWF_02' : {'DataName': 'hydrograph', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_rf-ecmwf-0125/'},
    'Archive_RUN_RF_ECMWF_03' : {'DataName': 'damV', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_rf-ecmwf-0125/'},
    'Archive_RUN_RF_ECMWF_04' : {'DataName': 'damL', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_rf-ecmwf-0125/'},
    
    'Archive_RUN_EF_LAMI_01' : {'DataName': 'hmc', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_ef-lami-i7/'},
    'Archive_RUN_EF_LAMI_02' : {'DataName': 'hydrograph', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_ef-lami-i7/'},
    'Archive_RUN_EF_LAMI_03' : {'DataName': 'damV', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_ef-lami-i7/'},
    'Archive_RUN_EF_LAMI_04' : {'DataName': 'damL', 'DataArchive': 5, 'DataHour' : {}, 'DataType': 'txt', 'DataPath' : '/hydro/archive/realtime_ef-lami-i7/'},
    
}
#-------------------------------------------------------------------------------------


