#-------------------------------------------------------------------------------------
# HMC Model Cleaner DynamicData - Configuration DataStatic
# Version 1.0.0 (20151205)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input static dictionary
oDataInputStatic	= { 'None' : ''}
						
