#-------------------------------------------------------------------------------------
# HMC Model Cleaner DynamicData - Configuration DataDynamic
# Version 1.0.0 (20151205)
#
# DataArchive = 0, 1, 2, 3 ... [Days]
# DataType = 'txt' , 'bin.gz', 'nc.gz', 'nc', 'csv'
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data sync dynamic dictionary 
oDataSyncDynamic	=	{ 
    'Data_01' : {'DataName': 'hmc.state', 'DataArchive': 1, 'DataHour' : {'Hour_1' : '0000', 'Hour_2' : '1200'}, 'DataType': 'nc.gz', 
                    'DataPathSource' : '/home/fabio/Desktop/Project_RegioneMarche/archive/realtime_ws-db/state/',
                    'DataPathDest' : '/home/fabio/Desktop/Project_RegioneMarche/archive/hmc_model_state/$YYYY/$MM/$DD/',
                    'SyncCommand' : 'rsync -au --progress $SOURCE $DEST'},
    'Data_02' : {'DataName': 'hmc.state', 'DataArchive': 1, 'DataHour' : {'Hour_1' : '0000', 'Hour_2' : '1200'}, 'DataType': 'txt', 
                    'DataPathSource' : '/home/fabio/Desktop/Project_RegioneMarche/archive/realtime_ws-db/state/',
                    'DataPathDest' : '/home/fabio/Desktop/Project_RegioneMarche/archive/hmc_model_state/$YYYY/$MM/$DD/',
                    'SyncCommand' : 'rsync -au --progress $SOURCE $DEST'},

}

# Data input dynamic dictionary
oDataInputDynamic	=	{ 
    'Data_01' : {'DataName': 'hmc.output', 'DataArchive': 1, 'DataHour' : {'Hour_1' : '0000', 'Hour_2' : '1200'}, 'DataType': 'nc.gz', 'DataPath' : '/home/fabio/Desktop/Project_RegioneMarche/archive/realtime_ws-db/'},
    'Data_02' : {'DataName': '', 'DataArchive': 3, 'DataHour' : {'Hour_1' : ''} ,'DataType': 'txt', 'DataPath' : ''},
    'Data_03' : {'DataName': '', 'DataArchive': 3, 'DataHour' : {'Hour_1' : ''} ,'DataType': 'txt', 'DataPath' : ''},
    'Data_04' : {'DataName': '', 'DataArchive': 3, 'DataHour' : {'Hour_1' : ''} ,'DataType': 'txt', 'DataPath' : ''},
    'Data_05' : {'DataName': '', 'DataArchive': 3, 'DataHour' : {'Hour_1' : ''} ,'DataType': 'txt', 'DataPath' : ''},
    'Data_06' : {'DataName': '', 'DataArchive': 3, 'DataHour' : {'Hour_1' : ''} ,'DataType': 'txt', 'DataPath' : ''},
}

# Data output dynamic dictionary 
oDataOutputDynamic	=	{ 
    'Data_01' : {'DataName': 'hmc.state', 'DataArchive': 1, 'DataHour' : {'Hour_1' : '0000', 'Hour_2' : '1200'}, 'DataType': 'nc.gz', 'DataPath' : '/home/fabio/Desktop/Project_RegioneMarche/archive/realtime_ws-db/'},
    'Data_02' : {'DataName': '', 'DataArchive': 3, 'DataHour' : {'Hour_1' : ''} ,'DataType': '.txt', 'DataPath' : ''},
    'Data_03' : {'DataName': '', 'DataArchive': 3, 'DataHour' : {'Hour_1' : ''} ,'DataType': '.txt', 'DataPath' : ''},
    'Data_04' : {'DataName': '', 'DataArchive': 3, 'DataHour' : {'Hour_1' : ''} ,'DataType': '.txt', 'DataPath' : ''},
    'Data_05' : {'DataName': '', 'DataArchive': 3, 'DataHour' : {'Hour_1' : ''} ,'DataType': '.txt', 'DataPath' : ''},
    'Data_06' : {'DataName': '', 'DataArchive': 3, 'DataHour' : {'Hour_1' : ''} ,'DataType': '.txt', 'DataPath' : ''},
}
#-------------------------------------------------------------------------------------

