#-------------------------------------------------------------------------------------
# HMC - Dynamic variable(s) configuration
# Version 1.6.2 (20151022)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# TAGS:
# $yyyy, $mm, $dd, $HH, $MM, $VAR, $DOMAIN, $RUN
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input dynamic dictionary
oDataInputDynamic = { 
    'Gridded'   :       {
        'FileName' 	        : 'hmc.forcing-grid.$yyyy$mm$dd$HH$MM.nc',	    # [FILEFORMAT: '$VAR_$yyyy$mm$dd$HH$MM.bin', 'hmc.datainput.$yyyy$mm$dd$HH$MM.nc']
        'FilePath'	        : '/hydro/run/$RUN/data/forcing/$yyyy/$mm/$dd/', # string
        'FileType'          : 2,	                                    # 1 = Binary, 2 = NetCDF
        'FileTimeRes'       : 3600,                                     # time resolution
        'OBS' 		        : { # [TAGS: $yyyy, $mm, $dd, $HH, $MM, $VAR] 
            'VarResolution'     : 3600,
            'VarRecurrency'     : {'Step' : 3600, 'Hour': {}, },
            'VarStep'           : 1,
            'VarDims'           : {'X': 'west_east', 'Y': 'south_north'},
            'VarName'           : {                                             
                'Rain'              : {	  
                    'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
                    'FilePath'      : '/hydro/data/dynamic_data/outcome/observation/ws/$yyyy/$mm/$dd/',
                    'FileVar'		: 'Rain',
                                    },
                'AirTemperature'    : {
                    'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
                    'FilePath'      : '/hydro/data/dynamic_data/outcome/observation/ws/$yyyy/$mm/$dd/',
                    'FileVar'		: 'AirTemperature',
				                    },
                'Wind'              : {	
                    'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
                    'FilePath'      : '/hydro/data/dynamic_data/outcome/observation/ws/$yyyy/$mm/$dd/',
                    'FileVar'		: 'Wind',
				                    },
                'RelHumidity'       : {	
                    'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
                    'FilePath'      : '/hydro/data/dynamic_data/outcome/observation/ws/$yyyy/$mm/$dd/', 
                    'FileVar'		: 'RelHumidity',
				                    },
                'IncRadiation'		: {	
                    'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
                    'FilePath'      : '/hydro/data/dynamic_data/outcome/observation/ws/$yyyy/$mm/$dd/',
                    'FileVar'		: 'IncRadiation',
				                    },
                'AirPressure'		: {	
                    'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
                    'FilePath'      : '/hydro/data/dynamic_data/outcome/observation/ws/$yyyy/$mm/$dd/',
                    'FileVar'		: 'AirPressure',
                    				},
                'SnowHeight'		: {	
                    'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
                    'FilePath'      : '/hydro/data/dynamic_data/outcome/observation/ws/$yyyy/$mm/$dd/',
                    'FileVar'		: 'SnowLevel',
                    				},
                'Kernel'		    : {	
                    'FileName'      : 'ws.db.$yyyy$mm$dd$HH$MM.nc.gz',
                    'FilePath'      : '/hydro/data/dynamic_data/outcome/observation/ws/$yyyy/$mm/$dd/',
                    'FileVar'		: 'SnowKernel',
                    				},
                'SCA'				: {	
                    'FileName'      : 'MOD10A1.005_marche_$yyyy$mm$dd$HH$MM.nc.gz',
                    'FilePath'      : '/hydro/data/dynamic_data/outcome/observation/modis/$yyyy/$mm/$dd/',
                    'FileVar'		: 'snow_cover_daily',
                    				},
                'SQA'				: {	
                    'FileName'      : 'MOD10A1.005_marche_$yyyy$mm$dd$HH$MM.nc.gz',
                    'FilePath'      : '/hydro/data/dynamic_data/outcome/observation/modis/$yyyy/$mm/$dd/',
                    'FileVar'		: 'snow_spatial_qa_filter',
		                            },	
                            },
                        },		      	
        'FOR'	            : {  # [TAGS: $yyyy, $mm, $dd, $HH, $MM, $VAR]	                                
            'VarResolution'     : 3600,
            'VarRecurrency'     : {'Step' : 43200, 'Hour': {'00', '12'}, },
            'VarStep'           : 72,
            'VarDims'           : {'X': 'west_east', 'Y': 'south_north', 'time' :'time'},
            'VarName'           : {                                                    
	            'Rain'				: {	
                    'FileName'      : '',
                    'FilePath'      : '',
                    'FileVar'		: 'Rain',
			                        },
		        'AirTemperature'	: {	
                    'FileName'      : '',
                    'FilePath'      : '',
                    'FileVar'		: 'AirTemperature',
							        },
		        'Wind'				: {	
                    'FileName'      : '',
                    'FilePath'      : '',
                    'FileVar'		: 'Wind',
							        },
		        'RelHumidity'		: {	
                    'FileName'      : '',
                    'FilePath'      : '',
                    'FileVar'		: 'RelHumidity',
								    },
		        'IncRadiation'		: {	
                    'FileName'      : '',
                    'FilePath'      : '',
                    'FileVar'		: 'IncRadiation',
								    },
		        'AirPressure'		: {	
                    'FileName'      : '',
                    'FilePath'      : '',
                    'FileVar'		: 'AirPressure',
							        },	
			                    },
		                	},
		            },
    'Point'     :   {
        'FileName'      :	'hmc.forcing-point.$VAR.txt',
        'FilePath'		:	'/hydro/run/$RUN/data/forcing/$yyyy/$mm/$dd/',
        'FileType'		:	1,		# 1 = ASCII
        'FileTimeRes'	:	3600, 	# time resolution
        'OBS' 		  : {},     # varnames: plant, turbinate #$VAR
        'FOR' 		  : {},
                    },
}
																
# Data output dynamic dictionary 
oDataOutputDynamic = {																
    'Gridded'	:       {
	    'FileName'              : 'hmc.output-grid.$yyyy$mm$dd$HH$MM.nc',	# [FILEFORMAT: '$VAR_$yyyy$mm$dd$HH$MM.bin', 'hmc.dataoutput.$yyyy$mm$dd$HH$MM.nc']
		'FilePath'		        : '/hydro/run/$RUN/data/outcome/$yyyy/$mm/$dd/$TYPE/',
		'FileType'		        : 2,	# 1 = Binary, 2 = NetCDF
		'FileTimeRes'	        : 3600, # time resolution
	                        },
    'Point'		:       {
	    'FileName'          : {                                                                     
	                            'File_SectionQ' : 'hmc.discharge.$yyyy$mm$dd$HH$MM.txt',        # [FILEFORMAT: 'hmc.output-point.$yyyy$mm$dd$HH$MM.nc']
	                            'File_DamV'     : 'hmc.vdam.$yyyy$mm$dd$HH$MM.txt',             # [FILEFORMAT: 'hmc.output-point.$yyyy$mm$dd$HH$MM.nc']
	                            'File_DamL'     : 'hmc.ldam.$yyyy$mm$dd$HH$MM.txt',             # [FILEFORMAT: 'hmc.output-point.$yyyy$mm$dd$HH$MM.nc']
	                            'File_VarMean'  : 'hmc.varmean.$yyyy$mm$dd$HH$MM.txt',          # [FILEFORMAT: 'hmc.output-point.$yyyy$mm$dd$HH$MM.nc']
	                            },   
	    'FilePath'	        : '/hydro/run/$RUN/data/outcome/$yyyy/$mm/$dd/$TYPE/',		# [TAGS: YYYY, MM, DD]
	    'FileType'	        : 1,		# 1 = ASCII, 2 = NetCDF
	    'FileTimeRes'       : 3600, 	# time resolution
		                },
}

# Data state dynamic dictionary 
oDataStateDynamic =	{
    'Gridded'	:       {
        'FileName'	        : 'hmc.state-grid.$yyyy$mm$dd$HH$MM.nc',		# [FILEFORMAT: '$VAR_$yyyy$mm$dd$HH$MM.bin', 'hmc.dataoutput.$yyyy$mm$dd$HH$MM.nc']
	    'FilePath'  	    : '/hydro/run/$RUN/data/state/$yyyy/$mm/$dd/$TYPE/', #/hydro/run/$RUN/data/state/$yyyy/$mm/$dd/$TYPE/
	    'FileVars'		    : {},
	    'FileType'		    : 2,		# 1 = Binary, 2 = NetCDF
	    'FileTimeRes'	    : 0, 	# time resolution
				        },
	'Point'		:       {
		'FileName' 		    : 'hmc.state-point.$yyyy$mm$dd$HH$MM.txt',		# 'ASCII' = save ASCII file(s), 'name' = composite NetCDF file
		'FilePath'		    : '/hydro/run/$RUN/data/state/$yyyy/$mm/$dd/$TYPE/',
		'FileType'		    : 1,		# 1 = ASCII, 2 = NetCDF
		'FileTimeRes'	    : 0, 	# time resolution
				        },
}

# Data restart dynamic dictionary 
oDataRestartDynamic = {							 									
    'Gridded'	:       {
		'FileName' 		    : 'hmc.state-grid.$yyyy$mm$dd$HH$MM.nc',	# [FILEFORMAT: '$VAR_$yyyy$mm$dd$HH$MM.bin', 'hmc.dataoutput.$yyyy$mm$dd$HH$MM.nc']
		'FilePath'		    : '/hydro/run/model_state/', #/hydro/archive/realtime_ws-db/$yyyy/$mm/$dd/$HH/state/
		'FileVars'		    : {},
		'FileType'		    : 2,		# 1 = Binary, 2 = NetCDF
		'FileTimeRes'	    : 3600, 	# time resolution
	                    },
    'Point'		:       {
		'FileName' 		    : 'hmc.state-point.$yyyy$mm$dd$HH$MM.txt',		# 'ASCII' = save ASCII file(s), 'name' = composite NetCDF file
		'FilePath'		    : '/hydro/run/model_state/', #/hydro/archive/realtime_ws-db/$yyyy/$mm/$dd/$HH/state/
		'FileType'		    : 1,		# 1 = ASCII, 2 = NetCDF
		'FileTimeRes'	    : 3600, 	# time resolution
	                    },
}		

# Data archive dynamic dictionary 
oDataArchiveDynamic = {							 									
    'State'	:       {
		'FileName'	        : '',	# [FILEFORMAT: '$VAR_$yyyy$mm$dd$HH$MM.bin', 'hmc.dataoutput.$yyyy$mm$dd$HH$MM.nc']
		'FilePath'	        : '/hydro/archive/$RUN/',  # [TAGS: YYYY, MM, DD, HH, HHRUN ENS] # '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/state/$TYPE/'
		'FileVars'	        : {},
		'FileType'	        : 2,		# 1 = Binary, 2 = NetCDF
		'FileTimeRes'       : 0, 	# time resolution
	                    },
    'Gridded'	:       {
		'FileName'	        : '',	# [FILEFORMAT: '$VAR_$yyyy$mm$dd$HH$MM.bin', 'hmc.dataoutput.$yyyy$mm$dd$HH$MM.nc']
		'FilePath'	        : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/gridded/$TYPE/',  # [TAGS: YYYY, MM, DD, HH, HHRUN ENS]
		'FileVars'	        : {},
		'FileType'	        : 2,		# 1 = Binary, 2 = NetCDF
		'FileTimeRes'       : 3600, 	# time resolution
	                    },
    'Point'		:       {
	    'FileName'          : '',
	    'FilePath'	        : {                                                                     
	                            'Path_SectionQ' : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/point/section_q/$TYPE/',  # [TAGS: YYYY, MM, DD, HHRUN, ENS]
	                            'Path_DamV'     : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/point/dam_volume/$TYPE/',  # [TAGS: YYYY, MM, DD, HHRUN, ENS]
	                            'Path_DamL'     : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/point/dam_level/$TYPE/',   # [TAGS: YYYY, MM, DD, HHRUN, ENS]
	                            'Path_VarMean'  : '/hydro/archive/$RUN/$yyyy/$mm/$dd/$HH/point/var_mean/$TYPE/',   # [TAGS: YYYY, MM, DD, HHRUN, ENS]
                            },   

	    'FileType'	        : 1,		# 1 = ASCII, 2 = NetCDF
	    'FileTimeRes'       : 3600, 	# time resolution
		                },
	                    
}										
																
																
																
																
																
																
																
