#-------------------------------------------------------------------------------------
# HMC - Static variable(s) configuration
# Version 1.6.2 (20151022)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# TAGS:
# $DOMAIN, $VAR, $RUN
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input static dictionary
oDataInputStatic =  {	
    'Gridded'	:       {
        'FileName' 	    : 'hmc.staticdata.nc',	                # [FILEFORMAT: 'domain.var.txt' ,'hmc.staticdata.nc']
        'FilePath'	    : '/home/fabio/Desktop/Project_RegioneMarche/data/version_2/data_static/land/outcome/',
        'FileVars'	    : {                
            'alpha'                 : 'Wt_Alpha',               # 'alpha'
            'beta'                  : 'Wt_Beta',                # 'beta'
            'cf'                    : 'Cf',                     # 'cf'
            'ct'                    : 'Ct',                     # 'ct'
            'uh'                    : 'Uh',                     # 'uh'
            'uc'                    : 'Uc',                     # 'uc'
            'drainage_area'         : 'Drainage_Area',          # 'area'
            'channels_distinction'  : 'Channels_Distinction',   # 'choice'
            'cell_area'             : 'Cell_Area',              # 'areacell'
            'coeff_resolution'      : 'Coeff_Resol_Map',        # 'coeffres'
            'flow_directions'       : 'Flow_Directions',        # 'pnt'
            'partial_distance'      : 'Partial_Distance',       # 'partial_distance'
            'vegetation_ia'         : 'VegetationIA',           # 'ia'
            'vegetation_type'       : 'VegetationType',         # 'cn'
            'terrain'               : 'Terrain',                # 'dem'
            'Mask'                  : 'Mask',                   # 'mask'
                        },	
        'FileType'	    : 2,	# 1 = ASCII, 2 = NetCDF
        'FileTimeRes'	: 0, 	# time resolution
				    },
    'Point'		    : {
        'FileName'      : '$DOMAIN.info_$VAR.txt',	
	    'FilePath'		: '/home/fabio/Desktop/Project_RegioneMarche/data/version_2/data_static/point/', 
        'FileVars'	    : {                
            'dam'                   : 'dam' ,              
            'intake'                : 'intake',                
            'joint'                 : 'joint',                     
            'lake'                  : 'lake',                     
            'section'               : 'section',
                        },                     
        'FileType'		: 1,	# 1 = ASCII
	    'FileTimeRes'	: 0, 	# time resolution
			        },
    'Info'          : {
        'FileName'      : '$DOMAIN.info.txt',
        'FilePath'      : '/home/fabio/Desktop/Project_RegioneMarche/data/version_2/data_static/info/',
        'FileType'		: 1,	# 1 = ASCII
	    'FileTimeRes'	: 0, 	# time resolution
                    },
}




