#-------------------------------------------------------------------------------------
# HMC - Static variable(s) configuration
# Version 1.6.2 (20151022)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# TAGS:
# $DOMAIN, $VAR, $RUN
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input static dictionary
oDataInputStatic =  {	
    'Gridded'	:       {
        'FileName' 	    : '$DOMAIN.$VAR.txt',	                # [FILEFORMAT: '$DOMAIN.$VAR.txt' ,'hmc.staticdata.nc']
        'FilePath'	    : '/hydro/data/static_data/land/',
        'FileVars'	    : {                
            'alpha'                 : 'alpha',               # 'alpha' ; 'Wt_Alpha'
            'beta'                  : 'beta',                # 'beta' ; 'Wt_Beta'
            'cf'                    : 'cf',                     # 'cf' ; 'Cf'
            'ct'                    : 'ct',                     # 'ct' ; 'Ct'
            'uh'                    : 'uh',                     # 'uh' ; 'Uh'
            'uc'                    : 'uc',                     # 'uc' ; 'Uc'
            'drainage_area'         : 'area',          # 'area' ; 'Drainage_Area'
            'channels_distinction'  : 'choice',   # 'choice' ; 'Channels_Distinction'
            'cell_area'             : 'areacell',              # 'areacell' ; 'Cell_Area'
            'coeff_resolution'      : 'coeffres',        # 'coeffres' ; 'Coeff_Resol_Map'
            'flow_directions'       : 'pnt',        # 'pnt' ; 'Flow_Directions' 
            'partial_distance'      : 'partial_distance',       # 'partial_distance' ; 'Partial_Distance'
            'vegetation_ia'         : 'ia',           # 'ia' ; 'VegetationIA'
            'vegetation_type'       : 'cn',         # 'cn' ; 'VegetationType'
            'terrain'               : 'dem',                # 'dem' ; 'Terrain'
            'Mask'                  : 'mask',                   # 'mask' : 'Mask'
                        },	
        'FileType'	    : 1,	# 1 = ASCII, 2 = NetCDF
        'FileTimeRes'	: 0, 	# time resolution
				    },
    'Point'		    : {
        'FileName'      : '$DOMAIN.info_$VAR.txt',	
	    'FilePath'		: '/hydro/data/static_data/point/', 
        'FileVars'	    : {                
            'dam'                   : 'dam' ,              
            'intake'                : 'intake',                
            'joint'                 : 'joint',                     
            'lake'                  : 'lake',                     
            'section'               : 'section',
                        },                     
        'FileType'		: 1,	# 1 = ASCII
	    'FileTimeRes'	: 0, 	# time resolution
			        },
    'Info'          : {
        'FileName'      : '$DOMAIN.info.txt',
        'FilePath'      : '/hydro/data/static_data/info/',
        'FileType'		: 1,	# 1 = ASCII
	    'FileTimeRes'	: 0, 	# time resolution
                    },
}




