#-------------------------------------------------------------------------------------
# HMC ModelExecution - Settings File
# Version 1.6.3 (20151030)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# TAGS:
# $FILEEXEC, $UC, $UH, $CT, $CF, $DOMAIN, $CPI, $RF, $VMAX, $SLOPEMAX, $DOMAIN, $VAR, $RUN, $yyyy, $mm, $dd, $HH, $MM, $ENS
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Path information
oPathInfo = {	

    'DataTemp'				        : '/hydro/run/$RUN/temp/$TYPE/',
    'DataCache'                     : '/hydro/run/$RUN/cache/$yyyy/$mm/$dd/$HH/$TYPE/',
    
    'Run'	                        : '/hydro/run/$RUN/exec/$TYPE/',
    'Library'				        : '/hydro/library/hmc_model-apps_2.0.6/',

}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# General Information
oGeneralInfo = {
    'Conventions' 	                : 'CF-1.6',
    'title' 		                : 'HMC Run Manager',
    'institution' 	                : 'CIMA Research Foundation - www.cimafoundation.org',
    'web-site' 		                : 'http://continuum.cimafoundation.org',
    'source' 		                : 'HMC Run Manager',
    'history'		                : 'Python Module - HMC Run Manager Module',
    'references'	                : 'http://cf-pcmdi.llnl.gov/ ; http://cf-pcmdi.llnl.gov/documents/cf-standard-names/ecmwf-grib-mapping',
    'comment'		                : 'Author(s): Fabio Delogu ; Simone Gabellani ; Francesco Silvestro',
    'email'			                : 'fabio.delogu@cimafoundation.org ; simone.gabellani@cimafoundation.org ; francesco.silvestro@cimafoundation.org',
    'project-info'	                : 'HMC - Hydrological Model Continuum',
    'algorithm'		                : 'HMC Run Manager - Version 1.6.2 (20151022)',
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Parameter(s) Information
oParamsInfo = {
    'DomainName' 	                : 'marche',             		# string
    'RunName'                       : 'realtime_ef-lami-i7',	    # string
    'FileExecName'                  : 'HMC_Model_V2_$RUN.x',  		# string
    
    'RunInit'                       : 0,                    		# Whole initialization == 1, historical initialization == 0
    
    'TimeNow'		                : '',       		# format yyyymmddHHMM (undefined == '' for op chain)
    'TimeStep'		                : 3600, 			    		# seconds
    'TimePeriodObs'	                : 24,				    		# ntimes obs per timestep (min value == 0)
    'TimePeriodFor'	                : 36,				    		# ntimes for per timestep (min value == 0, max value == 1 )	
    'TimeCheck'	                    : 4,				    		# ntimes per timestep data check obs-for (min value == 0)
    'TimeRestart'					: {'TimeDay': -1 , 'TimeHH': '00'},
    'TimeWorldRef'                  : {'TimeType': 'gmt', 'TimeLoad' : 0, 'TimeSave' : 0}, # 'local' or 'gmt' tags; timeload and timesave in hours difference referred to timetype
    
    'RunEnsemble'                   : {'EnsRun': True, 'EnsMin': 21, 'EnsMax': 22}, # EnsRun: True or False
    
    
    'RunParams'                     : {                       # mean model parameters	
        'ct'                : 0.5, 
        'cf'                : 0.02, 
        'uc'                : 20, 
        'uh'                : 1.5, 
        'cpi'               : 0.3, 
        'rf'                : 1, 
        'vmax'              : 500, 
        'slopemax'          : 70,
                                    },	
                                    
    'RunCommand'                    : '$FILEEXEC $UC $UH $CT $CF $DOMAIN $CPI $RF $VMAX $SLOPEMAX', 
    
    'RunFlag'                       : {
        'flag_os'           : 10,           # Type of OS (1=Windows, 10=Linux)
        'flag_restart'      : 1,            # Restart a run (1=yes, 0=no)
        'flag_flowdeep'     : 1,            # Computing deep Flow (1=yes, 0=no)
        'flag_S'            : [-2, 1, 0],   # State save modality (0 0 0: all hours all days; 1 0 h: once a day at hour h; 2 d h: once a month day d hour h; -1 -1 -1 never)
        'flag_O'            : [-1, -1, -1], # Output save modality (0 0 0: all hours all days; 1 0 h: once a day at hour h; 2 d h: once a month day d hour h; -1 -1 -1 never)
        'flag_uc'           : 1,            # Dynamic Uc value (1=yes; 0=no)
        'flag_dtphysconv'   : 1,            # Dynamic integration step of convolution (1=yes, 0=no)
        'flag_snow'         : 0,            # Computing snow (1=yes, 0=no)
        'flag_snow_assim'   : 0,            # Computing snow assimilation (1=yes, 0=no)
        'flag_debugset'     : 0,            # Debug flag set (iDEBUG = 0, iDEBUG = 1)
        'flag_debuglevel'   : 3,            # Debug flag level (iNFO_Basic = 0; iINFO_Main = 1, iINFO_Verbose = 2, iINFO_Extra = 3)
        'flag_LAI'          : 0,            # LAI mode (0=empiric relationship, 1=data)
        'flag_albedo'       : 0,            # Albedo mode (0=static value, 1=dynamic monthly values)
                                    },
    
    'RunDt'                         : {
        'dt_model'          : 3600,         # Model dT [seconds]
        'dt_physconv'       : 50,           # Physics convolution integration dT [seconds]           
                                    },
                                    
    'RunOtherInfo'                 : {
        'scale_factor'      : 10,           # Forcing data rescaling factor (permitted: 10 or 100 or 1000) --> used for binary data
        'tc_max'            : -9999,        # Number of hours of routing after last observation (to undefined value = -9999)
                                    },
    
    'FileConfigStatic'              : '/hydro/hmc_tools_runner/config_variables/hmc_model_run-manager_varstatic_server_$RUN.config',
    'FileConfigDynamic'             : '/hydro/hmc_tools_runner/config_variables/hmc_model_run-manager_vardynamic_server_$RUN.config',
}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# GeoSystem Information
oGeoSystemInfo = {
    'epsg_code'                     : 4326,
    'grid_mapping_name'             : 'latitude_longitude',
  	'longitude_of_prime_meridian'   : 0.0,
  	'semi_major_axis'               : 6378137.0,
  	'inverse_flattening'            : 298.257223563,
}
#-------------------------------------------------------------------------------------



