#-------------------------------------------------------------------------------------
# NWP DynamicData LAMI I7 - Configuration File
# Version 2.0.4 (20150923)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Path information
oPathInfo = {	
				'DataStatic'			:	'/home/fabio/Desktop/Project_RegioneMarche/data/version_2/data_static/land/outcome/',
				'DataDynamicSource'		:	'/home/fabio/Desktop/Project_RegioneMarche/data/version_2/data_dynamic_for/source/lami/',
				'DataDynamicOutcome'	: 	'/home/fabio/Desktop/Project_RegioneMarche/data/version_2/data_dynamic_for/outcome/lami//$yyyy/$mm/$dd/',
				'DataTemp'				:	'/home/fabio/Desktop/EclipseKeplerProjects/Project_RegioneMarche/data/version_2/temp/',
				'DataCache'             :   '/home/fabio/Desktop/Project_RegioneMarche/data/version_2/cache/$yyyy/$mm/$dd/',
				'Library'				: 	'/home/fabio/Desktop/Project_RegioneMarche/hmc_tools_datacreator/library/',
				}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# General Information
oGeneralInfo = {
					'Conventions' 						:	'CF-1.6',
  				 	'title' 							: 	'NWP DynamicData LAMI-I7 Forcing',
  				  	'institution' 						: 	'CIMA Research Foundation - www.cimafoundation.org',
  				  	'web-site' 							: 	'http://continuum.cimafoundation.org',
  				  	'source' 							: 	'NWP DynamicData LAMI-I7',
  				  	'history'							: 	'Python Module - DynamicData LAMI-I7 in BINARY e NetCDF format',
  				  	'references'						: 	'http://cf-pcmdi.llnl.gov/ ; http://cf-pcmdi.llnl.gov/documents/cf-standard-names/ecmwf-grib-mapping',
  				  	'comment'							: 	'Author(s): Fabio Delogu ; Simone Gabellani ; Francesco Silvestro',
  				  	'email'								: 	'fabio.delogu@cimafoundation.org ; simone.gabellani@cimafoundation.org ; francesco.silvestro@cimafoundation.org',
  				  	'project-info'						:	'HMC Hydrological Model Continuum',
  				  	'algorithm'							:	'NWP DynamicData LAMI-I7 - Version 2.0.4 (20150923)',
		   		 }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Parameter(s) Information
oParamsInfo = {
				'DomainName' 	: 	'marche',			# string
			   	'TimeNow'		:	'201510250000',		# format yyyymmddHHMM (undefined == '' for op chain)
			   	'TimeStep'		:	86400, 				# seconds
			   	'TimePeriod'	:	0,					# ntimes per timestep (min value == 1)
		   		'TimeUpd'		:	-1,					# ntimes per timestep data re-processing (-1 = no reprocessing (only new step), 0 = reprocessing step now, >0 = reprocessing n steps
		   		'TimeWorldRef'  :   {'TimeType': 'gmt', 'TimeLoad' : 0, 'TimeSave' : 0}, # 'local' or 'gmt' tags; timeload and timesave in hours difference referred to timetype
			   	'DB' 			: 	{ 'ID'		: 'DB_UNKNOWN',	# (1) DB_UNKNOWN, (2) DB_RegMarche  
			   						  'Server' 	: '',
			   						  'Name'	: '',
			   						  'User'	: '',
			   						  'Password': ''
			   						 },
 				'FileConfigStatic'	:	'/home/fabio/Desktop/EclipseKeplerProjects/Project_RegioneMarche/hmc_tools_datacreator/nwp_lami/config_variables/nwp_dynamicdata_lami-i7_varstatic.config',
				'FileConfigDynamic'	:	'/home/fabio/Desktop/EclipseKeplerProjects/Project_RegioneMarche/hmc_tools_datacreator/nwp_lami/config_variables/nwp_dynamicdata_lami-i7_vardynamic.config',
			   }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# GeoSystem Information
oGeoSystemInfo = {'epsg_code' : 						4326,
  				  'grid_mapping_name' : 				'latitude_longitude',
  				  'longitude_of_prime_meridian' : 		0.0,
  				  'semi_major_axis' : 					6378137.0,
  				  'inverse_flattening' : 				298.257223563,
		   		 }
#-------------------------------------------------------------------------------------
