#-------------------------------------------------------------------------------------
# RF Model Expert Forecast AlertArea - Configuration Static Variable(s)
# Version 3.0.2 (20150924)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input static dictionary
oDataInputStatic	=	{ 
    'ASCII' : {
        'Terrain'   : {
            'VarType'		: 'Grid',
            'VarTimeStep'	: 0,
            'VarAttributes'	: 
                                {
	             'long_name' 		: '',
	             'standard_name' 	: '',
	             'grid_mapping' 	: '',
	             'coordinates' 		: '',
	             'cell_method' 		: '',
	             'units' 			: 'm',
	             'pressure_level'	: '',
                                },
            'VarSource'	 	: 'marche.dem.txt',
            'VarDims'		: {'X': '', 'Y': ''},
            'VarOp'			: {	
                'Op_GetEx'      : {	
		            'Func' 	        : '',
		            'Name'		    : '',
		            'Comp'		    : {},
		            'Zip'		    : '',
		            'ScaleFactor'   : 1,
		            'Format'	    : '',
			                    },
	            'Op_Load'           : {	
		            'Func' 		    : 'ArcGrid',
		            'Name'		    : '',
		            'Comp'		    : {},
		            'Zip'		    : 'nzip',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
				                },
	            'Op_Save'       : {	
		            'Func' 			: '',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: '',
		            'ScaleFactor'	: '',
		            'Format'		: '',
				                },
	            'Op_Math'       : {	
		            'Interpolation' : '',
		            'Conversion'	: '',
		            'Disaggregation': '',
		            'Aggregation'	: '',
				                },
                            },
                   },			
     'AlertArea'   : {
            'VarType'		: 'Grid',
            'VarTimeStep'	: 0,
            'VarAttributes'	: 
                                {
	             'long_name' 		: '',
	             'standard_name' 	: '',
	             'grid_mapping' 	: '',
	             'coordinates' 		: '',
	             'cell_method' 		: '',
	             'units' 			: '',
	             'pressure_level'	: '',
                                },
            'VarSource'	 	: 'marche.alertarea.txt',
            'VarDims'		: {'X': '', 'Y': ''},
            'VarOp'			: {	
                'Op_GetEx'      : {	
		            'Func' 	        : '',
		            'Name'		    : '',
		            'Comp'		    : {},
		            'Zip'		    : '',
		            'ScaleFactor'   : 1,
		            'Format'	    : '',
			                    },
	            'Op_Load'           : {	
		            'Func' 		    : 'ArcGrid',
		            'Name'		    : '',
		            'Comp'		    : {},
		            'Zip'		    : 'nzip',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
				                },
	            'Op_Save'       : {	
		            'Func' 			: '',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: '',
		            'ScaleFactor'	: '',
		            'Format'		: '',
				                },
	            'Op_Math'       : {	
		            'Interpolation' : '',
		            'Conversion'	: '',
		            'Disaggregation': '',
		            'Aggregation'	: '',
				                },
                            },
                    },			
            },
    'MAT' : {
        'VM'   : {
            'VarType'		: 'Grid',
            'VarTimeStep'	: 0,
            'VarAttributes'	: 
                                {
	             'long_name' 		: '',
	             'standard_name' 	: '',
	             'grid_mapping' 	: '',
	             'coordinates' 		: '',
	             'cell_method' 		: '',
	             'units' 			: 'm',
	             'pressure_level'	: '',
                                },
            'VarSource'	 	: 'marche.vm.mat',
            'VarDims'		: {'X': '', 'Y': '', 'Z': ''},
            'VarOp'			: {	
                'Op_GetEx'      : {	
		            'Func' 	        : '',
		            'Name'		    : '',
		            'Comp'		    : {},
		            'Zip'		    : '',
		            'ScaleFactor'   : 1,
		            'Format'	    : '',
			                    },
	            'Op_Load'           : {	
		            'Func' 		    : 'Read3D',
		            'Name'		    : '',
		            'Comp'		    : {},
		            'Zip'		    : 'nzip',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
				                },
	            'Op_Save'       : {	
		            'Func' 			: '',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: '',
		            'ScaleFactor'	: '',
		            'Format'		: '',
				                },
	            'Op_Math'       : {	
		            'Interpolation' : '',
		            'Conversion'	: '',
		            'Disaggregation': '',
		            'Aggregation'	: '',
				                },
                            },
                   },	
           },	
   'CSV' : {
        'dati_prev_NULL' : {
            'VarType'		: 'Point',
            'VarTimeStep'	: 0,
            'VarAttributes'	: 
                                {
	             'long_name' 		: '',
	             'standard_name' 	: '',
	             'grid_mapping' 	: '',
	             'coordinates' 		: '',
	             'cell_method' 		: '',
	             'units' 			: 'm',
	             'pressure_level'	: '',
                                },
            'VarSource'	 	: '$yyyy-$mm-$dd_dati_prev_NULL.csv',
            'VarDims'		: {'X': '', 'Y': '', 'Z': ''},
            'VarOp'			: {	
                'Op_GetEx'      : {	
		            'Func' 	        : '',
		            'Name'		    : '',
		            'Comp'		    : {},
		            'Zip'		    : '',
		            'ScaleFactor'   : 1,
		            'Format'	    : '',
			                    },
	            'Op_Load'           : {	
		            'Func' 		    : '',
		            'Name'		    : '',
		            'Comp'		    : {},
		            'Zip'		    : 'nzip',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
				                },
	            'Op_Save'       : {	
		            'Func' 			: '',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: '',
		            'ScaleFactor'	: '',
		            'Format'		: '',
				                },
	            'Op_Math'       : {	
		            'Interpolation' : '',
		            'Conversion'	: '',
		            'Disaggregation': '',
		            'Aggregation'	: '',
				                },
                            },
                   },	
           },	
               
}
#-------------------------------------------------------------------------------------				
