#-------------------------------------------------------------------------------------
# RF Model Expert Forecast AlertArea - Configuration Dynamic Variable(s)
# Version 3.0.2 (20150924)
#
# VARIABLE OPTION(s)
# VarType				---> 	'Grid'
# VarTimeStep			---> 	>=0
# Zip 					---> 	'NoZip', 'GZip'
# Interpolation Point 	---> 	'IDW', 'NN', 'ZReg'
# Interpolation Grid 	---> 	'NN'
# Save Func				---> 	write2DVar, write3DVar
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------		
# Data input dynamic dictionary
oDataInputDynamic	=	{ 
    'CSV'  : {
        'Rain'          : { 	
            'VarType'	 	: 'Point',
            'VarTimeStep' 	: 
                            {
                                'IN' : 43200,
			                    'OUT': 3600,
                            },
	        'VarAttributes'	: 
	                        {
		         'long_name' 		: '',
		         'standard_name' 	: '',
		         'grid_mapping' 	: '',
		         'coordinates' 		: '',
		         'cell_method' 		: '',
		         'units' 			: 'mm',
		         'pressure_level'	: '',
                            },
	        'VarSource'		: 
	                        {
	                            'IN' : '$yyyy-$mm-$dd_dati_prev.csv',
	                            'OUT': 'EF_$VAR_$yyyy$mm$dd.csv',
                            },
	        'VarDims'		: {'X': '', 'Y': ''},
	        'VarOp'			: {	
		        'Op_GetEx'      : {	
			        'Func' 			: '',
			        'Name'			: '',
			        'Comp'			: {},
			        'Zip'			: '',
			        'ScaleFactor'	: 1,
			        'Format'		: '',
					            },
		        'Op_Load'       : {	
			        'Func' 			: '',
			        'Name'			: 'Rain',
			        'Comp'			: 
		                            {	
                                        'IN': { 
                                                'Area_A'    : {
                                                        'Code'  : 0,
                                                        'Vars'  : {
                                                            'RainAvg'   : {
                                                                            'Var_1' : 'areale_A_oggi_12-24',
                                                                            'Var_2' : 'areale_A_domani_0-12',
                                                                            'Var_3' : 'areale_areale_A_domani_12-24',
                                                                        },
                                                            'RainPeak'  : {
                                                                            'Var_1' : 'picco_A_oggi_12-24',
                                                                            'Var_2' : 'picco_A_domani_0-12',
                                                                            'Var_3' : 'picco_A_domani_12-24',
                                                                        },
                                                                    },
                                                            },
                                                'Area_B'    : {
                                                        'Code'  : 1,
                                                        'Vars'  : {
                                                            'RainAvg'   : { 
                                                                            'Var_1' : 'areale_B_oggi_12-24',
                                                                            'Var_2' : 'areale_B_domani_0-12',
                                                                            'Var_3' : 'areale_B_domani_12-24',
                                                                        },
                                                            'RainPeak'  : {
                                                                            'Var_1' : 'picco_B_oggi_12-24',
                                                                            'Var_2' : 'picco_B_domani_0-12',
                                                                            'Var_3' : 'picco_B_domani_12-24',
                                                                        },
                                                                },
                                                            },
                                                'Area_C'    : {
                                                        'Code'  : 2,
                                                        'Vars'  : {
                                                                    'RainAvg'   : {
                                                                                    'Var_1' : 'areale_C_oggi_12-24',
                                                                                    'Var_2' : 'areale_C_domani_0-12',
                                                                                    'Var_3' : 'areale_C_domani_12-24',
                                                                                },
                                                                    'RainPeak'  : {
                                                                                    'Var_1' : 'picco_C_oggi_12-24',
                                                                                    'Var_2' : 'picco_C_domani_0-12',
                                                                                    'Var_3' : 'picco_C_domani_12-24',
                                                                                },
                                                                },
                                                            },
                                                'Area_D'    : {
                                                        'Code'  : 3,
                                                        'Vars'  : {
                                                                'RainAvg'   : {
                                                                                'Var_1' : 'areale_D_oggi_12-24',
                                                                                'Var_2' : 'areale_D_domani_0-12',
                                                                                'Var_3' : 'areale_D_domani_12-24',
                                                                            },
                                                                'RainPeak'  : {           
                                                                                'Var_1' : 'picco_D_oggi_12-24',
                                                                                'Var_2' : 'picco_D_domani_0-12',
                                                                                'Var_3' : 'picco_D_domani_12-24',
                                                                            },
                                                                },
                                                            },
                                               },                                                                                    
                                        'OUT': { 'Var_1' : 'Rain' }, 
			                        },	                   
			        'Zip'			: 'nzip',
			        'ScaleFactor'	: 1,
			        'Format'		: '',
				                },
		        'Op_Save'       : {	
			        'Func' 			: '',
			        'Name'			: '',
			        'Comp'			: {},
			        'Zip'			: '',
			        'ScaleFactor'	: '',
			        'Format'		: '',
					            },
		        'Op_Math'       : {	
			        'Interpolation' : {'Func' : ''},
			        'Conversion'	: {'Func' : ''},
			        'Disaggregation': {'Func' : ''},
			        'Aggregation'	: {'Func' : ''},
					            },
                            },
                        },
        },
}

# Data output dynamic dictionary 
oDataOutputDynamic = { 
    'Binary'    : {	
        'Rain'      : {	
            'VarType'		: 'Grid',
            'VarTimeStep'	: 3600,
            'VarAttributes'	: 	
                            {
                'long_name' 	    : '',
                'standard_name'     : '',
                'grid_mapping' 	    : '',
                'coordinates' 	    : '',
                'cell_method' 	    : '',
                'units' 		    : 'mm',
                'pressure_level'    : '',
		                    },
            'VarSource'	 	: 'rain_$yyyy$mm$dd$HH$MM.bin',
            'VarDims'		: {'X': '', 'Y': ''},
            'VarOp'			: {	
	            'Op_GetEx'      : {	
		            'Func' 			: 	'',
		            'Name'			:	'',
		            'Comp'			:	{},
		            'Zip'			:	'',
		            'ScaleFactor'	:	1,
		            'Format'		:	'',
			                    },
	            'Op_Load'       : {	
		            'Func' 			: 	'',
		            'Name'			:	'',
		            'Comp'			:	{},
		            'Zip'			:	'',
		            'ScaleFactor'	:	1,
		            'Format'		:	'',
				                },
	            'Op_Save'       : {	
		            'Func' 			: 	'write1DVar',
		            'Name'			:	'',
		            'Comp'			:	{},
		            'Zip'			:	'gz',
		            'ScaleFactor'	:	10,
		            'Format'		:	'i',
				                },
	            'Op_Math'       : {	
		            'Interpolation' : 	'',
		            'Conversion'	:   '',
		            'Disaggregation':	'',
		            'Aggregation'	:	'',
			                    },
				            },
                        },
                },
    'NetCDF'    : {
        'Rain'      : {	
	        'VarType'		: 'Grid',
	        'VarTimeStep'	: 3600,
	        'VarAttributes'	: 
	                        {
                'long_name' 	    : '',
                'standard_name' 	: '',
                'grid_mapping' 	    : 'crs',
                'coordinates' 		: 'Longitude Latitude',
                'cell_method' 		: '',
                'units' 			: 'mm',
                'pressure_level'	: '',
                            },
	        'VarSource'	 	: 'rf.ef.$yyyy$mm$dd$HH$MM.nc',
	        'VarDims'		: {'X': 'west_east', 'Y': 'south_north', 'time' : 'time'},
	        'VarOp'			: {	
		        'Op_GetEx'      : {	
			        'Func' 			: '',
			        'Name'			: '',
			        'Comp'			: {},
			        'Zip'			: '',
			        'ScaleFactor'	: 1,
			        'Format'		: '',
					            },
		        'Op_Load'       : {	
			        'Func' 			: '',
			        'Name'			: '',
			        'Comp'			: {},
			        'Zip'			: '',
			        'ScaleFactor'	: 1,
			        'Format'		: '',
					            },
		        'Op_Save'       : {	
			        'Func' 			: 'write3DVar',
			        'Name'			: '',
			        'Comp'			: {},
			        'Zip'			: 'gz',
			        'ScaleFactor'	: 1,
			        'Format'		: 'f4',
					            },
		        'Op_Math'       : {	
		            'Interpolation' : '',
		            'Conversion'	: '',
		            'Disaggregation': '',
		            'Aggregation'	: '',
					            },
					        },
                        },	
        'Longitude'	    : {
	        'VarType'		: 'Grid',
	        'VarTimeStep'	: 0,
	        'VarAttributes'	:
	                        {
                'long_name' 		: 'longitude coordinate',
                'standard_name' 	: 'longitude',
                'grid_mapping' 	    : '',
                'coordinates' 		: '',
                'cell_method' 		: '',
                'units' 			: 'degree_east',
                'pressure_level'	: '',
                            },
	        'VarSource'	 	: 'rf.ef.$yyyy$mm$dd$HH$MM.nc',
	        'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
	        'VarOp'			: {	
		        'Op_GetEx'      : {	
                    'Func' 			: '',
                    'Name'			: '',
                    'Comp'			: {},
                    'Zip'			: '',
                    'ScaleFactor'	: 1,
                    'Format'		: '',
					            },
			    'Op_Load'       : {	
				    'Func' 			: '',
				    'Name'			: '',
				    'Comp'			: {},
				    'Zip'			: '',
				    'ScaleFactor'	: 1,
				    'Format'		: '',
						        },
			    'Op_Save'       : {	
				    'Func' 			: 'write2DVar',
				    'Name'			: '',
				    'Comp'			: {},
				    'Zip'			: 'gz',
				    'ScaleFactor'	: 1,
				    'Format'		: 'f4',
					            },
			    'Op_Math'       : {	
				    'Interpolation' : '',
				    'Conversion'	: '',
				    'Disaggregation': '',
				    'Aggregation'	: '',
						        },
						    },
                        },	
        'Latitude'      : {
	        'VarType'		: 'Grid',
	        'VarTimeStep'	: 0,
	        'VarAttributes'	: 
	                        {
                'long_name' 		: 'latitude coordinate',
                'standard_name' 	: 'latitude',
                'grid_mapping' 	: '',
                'coordinates' 		: '',
                'cell_method' 		: '',
                'units' 			: 'degree_north',
                'pressure_level'	: '',
                            },
	        'VarSource'	 	: 'rf.ef.$yyyy$mm$dd$HH$MM.nc',
	        'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
	        'VarOp'			: {	
		        'Op_GetEx'      : {	
			        'Func' 				: 	'',
			        'Name'				:	'',
			        'Comp'				:	{},
			        'Zip'				:	'',
			        'ScaleFactor'		:	1,
			        'Format'			:	'',
				                },
		        'Op_Load'       : {	
			        'Func' 				: 	'',
			        'Name'				:	'',
			        'Comp'				:	{},
			        'Zip'				:	'',
			        'ScaleFactor'		:	1,
			        'Format'			:	'',
					            },
		        'Op_Save'       : {	
			        'Func' 				: 	'write2DVar',
			        'Name'				:	'',
			        'Comp'				:	{},
			        'Zip'				:	'gz',
			        'ScaleFactor'		:	1,
			        'Format'			:	'f4',
					            },
		        'Op_Math'       : {	
			        'Interpolation' 	: 	'',
			        'Conversion'		:	'',
			        'Disaggregation'	:	'',
			        'Aggregation'		:	'',
					            },
						    },
                        },	
        'Terrain'       : {
	        'VarType'		: 'Grid',
	        'VarTimeStep'	: 0,
	        'VarAttributes'	:
	                        {
                'long_name' 		: 'geometric height',
                'standard_name' 	: 'altitude',
                'grid_mapping' 	    : '',
                'coordinates' 		: '',
                'cell_method' 		: '',
                'units' 			: 'm',
                'pressure_level'	: '',
                            },
	        'VarSource'	 	: 'rf.ef.$yyyy$mm$dd$HH$MM.nc',
	        'VarDims'		: {'X': 'west_east', 'Y': 'south_north'},
	        'VarOp'			: {	
	            'Op_GetEx'      : {	
                    'Func' 			: '',
                    'Name'			: '',
                    'Comp'			: {},
                    'Zip'			: '',
                    'ScaleFactor'	: 1,
                    'Format'		: '',
					            },
			    'Op_Load'       : {	
				    'Func' 			: '',
				    'Name'			: '',
				    'Comp'			: {},
				    'Zip'			: '',
				    'ScaleFactor'	: 1,
				    'Format'		: '',
						        },
			    'Op_Save'       : {	
				    'Func' 			: 'write2DVar',
				    'Name'			: '',
				    'Comp'			: {},
				    'Zip'			: 'gz',
				    'ScaleFactor'	: 1,
				    'Format'		: 'f4',
						        },
			    'Op_Math'       : {	
			        'Interpolation' : '',
			        'Conversion'	: '',
			        'Disaggregation': '',
			        'Aggregation'	: '',
						        },
						    },
                        },	
                },
}
#-------------------------------------------------------------------------------------


