#-------------------------------------------------------------------------------------
# Radar DynamicData RRM SRI - Configuration DataDynamic
# Version 1.0.0 (20151201)
#-------------------------------------------------------------------------------------
							
#-------------------------------------------------------------------------------------
# Data input dynamic dictionary
oDataInputDynamic	=	{ 
    'NetCDF'	:	{
    
        'sri'	        :   { 	
            'VarType'	 		:	'Grid',
            'VarTimeStep' 		: 	600,
            'VarAttributes'		: 	{
                'long_name' 		: '',
                'standard_name' 	: '',
                'grid_mapping' 	    : 'lon lat',
                'coordinates' 		: 'crs',
                'cell_method' 		: '',
                'units' 			: 'mm/h',
                'pressure_level'	: '',
								    },
			'VarSource'			: 	'RRM$YY$JD$HH$MM0L-801_$yyyy$mm$dd$HH$MM.nc',
			'VarDims'			:	{'X': '', 'Y': ''},
			'VarOp'				:	{	
			    'Op_GetEx'      :       {	
					'Func' 				: 	'',
					'Name'				:	'',
					'Comp'				:	{},
					'Zip'				:	'',
					'ScaleFactor'		:	1,
					'Format'			:	'',
					'Missing_value'		:	None,
					'_FillValue'		:	None,
					'Valid_range'		:	'',
										},
			    'Op_Load'       :       {	
					'Func' 				: 	'',
					'Name'				:	'',
					'Comp'				:	{
                                                'IN' :   {'Var_1' : 'sri'},                                                                                    
                                                'OUT':   {'Var_1' : 'Rain'}, 
                                            },    
					'Zip'				:	'',
					'ScaleFactor'		:	1,
					'Format'			:	'',
					'Missing_value'		:	None,
					'_FillValue'		:	None,
					'Valid_range'		:	'',
										},
				'Op_Save'       :       {	
					'Func' 				: 	'',
					'Name'				:	'',
					'Comp'				:	{},
					'Zip'				:	'',
					'ScaleFactor'		:	'',
					'Format'			:	'',
					'Missing_value'		:	None,
					'_FillValue'		:	None,
					'Valid_range'		:	'',
				                        },
				'Op_Math' :             {	
					'Interpolation' 	: 	{'Func' : ''},         
					'Conversion'		:	{'Func' : ''},
					'Disaggregation'	:	{'Func' : ''}, 														
					'Aggregation'		:	{'Func' : ''},
				                        },
                                    },
						    	},
						    		
			  	                },
                        }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------			  	
# Data output dynamic dictionary 
oDataOutputDynamic	=	{  
    'NetCDF'	:	{
    
        'Rain' :   {	
		    'VarType'			:	'Grid',
		    'VarTimeStep'		:	3600,
		    'VarAttributes'		: 	{
                'long_name' 	    : '',
                'standard_name'     : '',
                'grid_mapping' 	    : 'crs',
                'coordinates' 	    : 'Longitude Latitude',
                'cell_method' 	    : '',
                'units' 		    : 'mm',
                'pressure_level'    : '',
                                    },
            'VarSource'	 		: 	'radar.rrm.$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
	                'Func' 			    : 	'',
	                'Name'			    :	'',
	                'Comp'			    :	{},
	                'Zip'			    :	'',
	                'ScaleFactor'	    :	1,
	                'Format'		    :	'',
	                'Missing_value'	    :	None,
	                '_FillValue'	    :	None,
	                'Valid_range'	    :	'',
					                    },
	            'Op_Load'       :       {	
		            'Func' 		   		: 	'',
		            'Name'			    :	'',
                    'Comp'			    :   {
                                                'IN' :   {'Var_1' : 'Rain'},                                                                                    
                                                'OUT':   {'Var_1' : 'Rain'}, 
                                            }, 
		            'Zip'			    :	'',
		            'ScaleFactor'	    :	1,
		            'Format'		    :	'',
		            'Missing_value'	    :	None,
		            '_FillValue'	    :	None,
		            'Valid_range'	    :	'',
	                                    },
	            'Op_Save'       :       {	
		            'Func' 			    : 	'write2DVar',
		            'Name'			    :	'',
		            'Comp'			    :	{},
		            'Zip'			    :	'gz',
		            'ScaleFactor'	    :	1,
		            'Format'		    :	'f4',
		            'Missing_value'     :   None,
		            '_FillValue'        :   None,
		            'Valid_range'       :   '',
				                        },
	            'Op_Math'       :       {	
		            'Interpolation'	    : 	{'Func' : 'interpVarGridNN'},
		            'Conversion'	    :	{'Func' : ''},
		            'Disaggregation'    :	{'Func' : ''},
		            'Aggregation'	    :	{'Func' : ''},
				                        },
                                    },
                                    },
    
        'Longitude'			    : 	{
		    'VarType'			:	'Grid',
		    'VarTimeStep'		:	0,
		    'VarAttributes'		: 	{
			     'long_name' 		: 'longitude coordinate',
			     'standard_name' 	: 'longitude',
			     'grid_mapping' 	: '',
			     'coordinates' 		: '',
			     'cell_method' 		: '',
			     'units' 			: 'degree_east',
			     'pressure_level'	: '',
		                            },
            'VarSource'	 		: 	'radar.rrm.$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Load'       :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Save'       :       {	
	                'Func' 				: 	'write2DVar',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'gz',
	                'ScaleFactor'		:	1,
	                'Format'			:	'f4',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Math'       :       {	
	                'Interpolation' 	: 	{'Func' : ''},
	                'Conversion'		:	{'Func' : ''},
	                'Disaggregation'	:	{'Func' : ''},
	                'Aggregation'		:	{'Func' : ''},
				                        },
                                    },
                                    },
                                    
       'Latitude'			    : 	{
		    'VarType'			:	'Grid',
		    'VarTimeStep'		:	0,
		    'VarAttributes'		: 	{
			     'long_name' 		: 'latitude coordinate',
			     'standard_name' 	: 'latitude',
			     'grid_mapping' 	: '',
			     'coordinates' 		: '',
			     'cell_method' 		: '',
			     'units' 			: 'degree_north',
			     'pressure_level'	: '',
		                            },
            'VarSource'	 		: 	'radar.rrm.$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Load'       :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Save'       :       {	
	                'Func' 				: 	'write2DVar',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'gz',
	                'ScaleFactor'		:	1,
	                'Format'			:	'f4',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Math'       :       {	
	                'Interpolation' 	: 	{'Func' : ''},
	                'Conversion'		:	{'Func' : ''},
	                'Disaggregation'	:	{'Func' : ''},
	                'Aggregation'		:	{'Func' : ''},
				                        },
                                    },
                                    },
                                    
        'Terrain'			    : 	{
		    'VarType'			:	'Grid',
		    'VarTimeStep'		:	0,
		    'VarAttributes'		: 	{
			     'long_name' 		: 'geometric height',
			     'standard_name' 	: 'altitude',
			     'grid_mapping' 	: '',
			     'coordinates' 		: '',
			     'cell_method' 		: '',
			     'units' 			: 'm',
			     'pressure_level'	: '',
		                            },
            'VarSource'	 		: 	'radar.rrm.$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			:	{'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				:	{	
                'Op_GetEx'      :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Load'       :       {	
	                'Func' 				: 	'',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'',
	                'ScaleFactor'		:	1,
	                'Format'			:	'',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Save'       :       {	
	                'Func' 				: 	'write2DVar',
	                'Name'				:	'',
	                'Comp'				:	{},
	                'Zip'				:	'gz',
	                'ScaleFactor'		:	1,
	                'Format'			:	'f4',
                    'Missing_value'		:	None,
                    '_FillValue'		:	None,
                    'Valid_range'		:	'',
                                        },
                'Op_Math'       :       {	
	                'Interpolation' 	: 	{'Func' : ''},
	                'Conversion'		:	{'Func' : ''},
	                'Disaggregation'	:	{'Func' : ''},
	                'Aggregation'		:	{'Func' : ''},
				                        },
                                    },
                                    },
                                    
                    },
                    }


                        
#-------------------------------------------------------------------------------------	
