#-------------------------------------------------------------------------------------
# KF DynamicData Expert Forecast AirTemperature - Configuration DataStatic
# Version 1.0.0 (20151125)
#
# VARIABLE OPTION(s)
# VarType				---> 	'Grid', 'Point'
# VarTimeStep			---> 	>=0
# Zip 					---> 	'NoZip', 'GZip'
# Interpolation Point 	---> 	'IDW', 'NN', 'ZReg'
# Interpolation Grid 	---> 	'NN'
# Save Func				---> 	write1DVar, write2DVar, write3DVar
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input dynamic dictionary
oDataInputDynamic	=	{ 
    'ASCII'	:	{
		'AirTemperature'    : { 	
		    'VarType'           : 'Point',
			'VarTimeStep' 		: {
			                        'IN' : {'VarTimeStep_01': 32400, 'VarTimeStep_02': 54000},
			                        'OUT': {'VarTimeStep_01': 3600, 'VarTimeStep_02': 3600}
                                },
			'VarAttributes'		: {
			     'long_name' 		: '',
			     'standard_name' 	: '',
			     'grid_mapping' 	: '',
			     'coordinates' 		: '',
			     'cell_method' 		: '',
			     'units' 			: 'C',
		         'pressure_level'	: '',
						        },																 
			'VarSource'			: {
			                        'IN' : {'File_01': '$yyyy$mm$dd_TEMP_oggi.txt', 'File_02': '$yyyy$mm$dd_TEMP_domani.txt', 'File_03': '$yyyy$mm$dd_TEMP_dopodomani.txt'},
			                        'OUT': 'EF_$VAR_$yyyy$mm$dd.csv'
		                        },
			'VarDims'			: {'X': '', 'Y': ''},
			'VarOp'				: {	
                'Op_GetEx'          : {	
                    'Func' 			    : '',
                    'Name'			    : '',
                    'Comp'			    : {},
                    'Zip'			    : '',
                    'ScaleFactor'	    : 1,
                    'Format'		    : '',
                                    },
			    'Op_Load'           : {	
					'Func' 				: '',
					'Name'				: 'AirTemperature',
					'Comp'				: {	
						                    'IN' : {'Var_1' : 'AirTemperature'},                                                                                    
                                            'OUT': {'Var_1' : 'AirTemperature'}, 
									    },	   
					'Zip'			    : 'nzip',
					'ScaleFactor'   	: 1,
					'Format'		    : '',
			                        },
		        'Op_Save'           : {	
					'Func' 			    : '',
					'Name'			    : '',
					'Comp'			    : {},
					'Zip'			    : '',
					'ScaleFactor'	    : '',
					'Format'		    : '',
			                        },
				'Op_Math'           : {	
					'Interpolation'     : {'Func' : 'interpVarPointZReg', 'XRad' : 0.8, 'YRad' :0.8, 'FillValue' : 'meanVar'},
					'Conversion'	    : {'Func' : ''},
					'Disaggregation'    : {'Func' : ''},
					'Aggregation'	    : {'Func' : ''},
						            },
								},
						    },
				},
}

# Data output dynamic dictionary 
oDataOutputDynamic	=	{ 
    'NetCDF'	: {
        'AirTemperature'    : {
            'VarType'			: 'Grid',
            'VarTimeStep'		: 3600,
            'VarAttributes'		: {
	             'long_name' 	    : '',
	             'standard_name' 	: '',
	             'grid_mapping' 	: 'crs',
	             'coordinates' 		: 'Longitude Latitude',
	             'cell_method' 		: '',
	             'units' 			: 'C',
	             'pressure_level'	: '',
                                },
            'VarSource'	 		: 'kf.airtemperature.$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			: {'X': 'west_east', 'Y': 'south_north', 'time' : 'time'},
            'VarOp'				: {	
                'Op_GetEx'          : {	
					'Func' 				: '',
					'Name'				: '',
					'Comp'				: {},
					'Zip'				: '',
					'ScaleFactor'		: 1,
					'Format'			: '',
				                    },
	            'Op_Load'           : {	
					'Func' 				: '',
					'Name'				: '',
					'Comp'				: {},
					'Zip'				: '',
					'ScaleFactor'		: 1,
					'Format'			: '',
				                    },
	            'Op_Save'           : {	
		            'Func' 				: 'write3DVar',
		            'Name'				: '',
		            'Comp'				: {},
		            'Zip'				: 'gz',
		            'ScaleFactor'		: 1,
		            'Format'			: 'f4',
				                    },
	            'Op_Math'           : {	
		            'Interpolation' 	: {'Func' : ''},
		            'Conversion'		: {'Func' : ''},
		            'Disaggregation'	: {'Func' : ''},
		            'Aggregation'		: {'Func' : ''},
				                    },
                                },
                            },
        'Longitude'         : {
            'VarType'			: 'Grid',
            'VarTimeStep'		: 0,
            'VarAttributes'		: {
                'long_name'         : 'longitude coordinate',
	             'standard_name' 	: 'longitude',
	             'grid_mapping' 	: '',
	             'coordinates' 		: '',
	             'cell_method' 		: '',
	             'units' 			: 'degree_east',
	             'pressure_level'	: '',
                                },
            'VarSource'	 		: 'kf.airtemperature.$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				: {	
                'Op_GetEx'          : {	
					'Func' 				: '',
					'Name'				: '',
					'Comp'				: {},
					'Zip'				: '',
					'ScaleFactor'		: 1,
					'Format'			: '',
				                    },
	            'Op_Load'           : {	
		            'Func' 				: '',
		            'Name'				: '',
		            'Comp'				: {},
		            'Zip'				: '',
		            'ScaleFactor'		: 1,
		            'Format'			: '',
				                    },
	            'Op_Save'           : {	
		            'Func' 				: 'write2DVar',
		            'Name'				: '',
		            'Comp'				: {},
		            'Zip'				: 'gz',
		            'ScaleFactor'		: 1,
		            'Format'			: 'f4',
				                    },
	            'Op_Math'           : {	
		            'Interpolation' 	: {'Func' : ''},
		            'Conversion'		: {'Func' : ''},
		            'Disaggregation'	: {'Func' : ''},
		            'Aggregation'		: {'Func' : ''},
				                    },
                                },
                            },	
        'Latitude'          : {
            'VarType'			: 'Grid',
            'VarTimeStep'		: 0,
            'VarAttributes'		: {
	             'long_name' 		: 'latitude coordinate',
	             'standard_name' 	: 'latitude',
	             'grid_mapping' 	: '',
	             'coordinates' 		: '',
	             'cell_method' 		: '',
	             'units' 			: 'degree_north',
	             'pressure_level'	: '',
                                },
            'VarSource'	 		: 'kf.airtemperature.$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				: {	
                'Op_GetEx'          : {	
		            'Func' 				: '',
		            'Name'				: '',
		            'Comp'				: {},
		            'Zip'				: '',
		            'ScaleFactor'		: 1,
		            'Format'			: '',
				                    },
	            'Op_Load'           : {	
		            'Func' 				: '',
		            'Name'				: '',
		            'Comp'				: {},
		            'Zip'				: '',
		            'ScaleFactor'		: 1,
		            'Format'			: '',
			                        },
	            'Op_Save'           : {	
		            'Func' 				: 'write2DVar',
		            'Name'				: '',
		            'Comp'				: {},
		            'Zip'				: 'gz',
		            'ScaleFactor'		: 1,
		            'Format'			: 'f4',
			                        },
	            'Op_Math'           : {	
		            'Interpolation' 	: {'Func' : ''},
		            'Conversion'		: {'Func' : ''},
		            'Disaggregation'	: {'Func' : ''},
		            'Aggregation'		: {'Func' : ''},
				                    },
                                },
                            },	
        'Terrain'			: {
            'VarType'			: 'Grid',
            'VarTimeStep'		: 0,
            'VarAttributes'		: {
	             'long_name' 		: 'geometric height',
	             'standard_name' 	: 'altitude',
	             'grid_mapping' 	: '',
	             'coordinates' 		: '',
	             'cell_method' 		: '',
	             'units' 			: 'm',
	             'pressure_level'	: '',
                                },
            'VarSource'	 		: 'kf.airtemperature.$yyyy$mm$dd$HH$MM.nc',
            'VarDims'			: {'X': 'west_east', 'Y': 'south_north'},
            'VarOp'				: {	
                'Op_GetEx'          : {	
                    'Func' 				: '',
                    'Name'				: '',
                    'Comp'				: {},
                    'Zip'				: '',
                    'ScaleFactor'		: 1,
                    'Format'			: '',
				                    },
	            'Op_Load'           : {	
		            'Func' 				: '',
		            'Name'				: '',
		            'Comp'				: {},
		            'Zip'				: '',
		            'ScaleFactor'		: 1,
		            'Format'			: '',
				                    },
	            'Op_Save'           : {	
		            'Func' 				: 'write2DVar',
		            'Name'				: '',
		            'Comp'				: {},
		            'Zip'				: 'gz',
		            'ScaleFactor'		: 1,
		            'Format'			: 'f4',
				                    },
	            'Op_Math'           : {	
		            'Interpolation' 	: {'Func' : ''},
		            'Conversion'		: {'Func' : ''},
		            'Disaggregation'	: {'Func' : ''},
		            'Aggregation'		: {'Func' : ''},
				                    },
                                },
                            },	
                },
}
#-------------------------------------------------------------------------------------


