#-------------------------------------------------------------------------------------
# ARAD Model ECMWF 0125 - Configuratin File
# Version 1.0.0 (20151103)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Path information
oPathInfo = {	
				'DataStatic'			:	'/hydro/data/static_data/land/',
				'DataDynamicSource'		:	'/hydro/data/dynamic_data/source/nwp/ecmwf0125/',
				'DataDynamicOutcome'	: 	'/hydro/data/event_data/outcome/astrorad/ecmwf0125/$yyyy/$mm/$dd/',
				'DataTemp'				:	'/hydro/data/event_data/temp/',
				'DataCache'             :   '/hydro/data/event_data/cache/$yyyy/$mm/$dd/',
				'Library'				: 	'/hydro/library/',
				}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# General Information
oGeneralInfo = {
					'Conventions' 						:	'CF-1.6',
  				 	'title' 							: 	'ARAD Model ECMWF-0125',
  				  	'institution' 						: 	'CIMA Research Foundation - www.cimafoundation.org',
  				  	'web-site' 							: 	'http://continuum.cimafoundation.org',
  				  	'source' 							: 	'ARAD Model ECMWF-0125',
  				  	'history'							: 	'Python Module - ARAD Model ECMWF-0125 in BINARY e NetCDF format',
  				  	'references'						: 	'http://cf-pcmdi.llnl.gov/ ; http://cf-pcmdi.llnl.gov/documents/cf-standard-names/ecmwf-grib-mapping',
  				  	'comment'							: 	'Author(s): Fabio Delogu ; Simone Gabellani ; Francesco Silvestro',
  				  	'email'								: 	'fabio.delogu@cimafoundation.org ; simone.gabellani@cimafoundation.org ; francesco.silvestro@cimafoundation.org',
  				  	'project-info'						:	'HMC Hydrological Model Continuum',
  				  	'algorithm'							:	'ARAD Model ECMWF-0125 - Version 1.0.0 (20151103)',
		   		 }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Parameter(s) Information
oParamsInfo = {
				'DomainName' 	: 	'marche',			# string
			   	'TimeNow'		:	'201603230700',		# format yyyymmddHHMM (undefined == '' for op chain)
			   	'TimeStep'		:	86400, 				# seconds
			   	'TimePeriod'	:	0,					# ntimes per timestep (min value == 1)
		   		'TimeUpd'		:	-1,					# ntimes per timestep data re-processing (-1 = no reprocessing (only new step), 0 = reprocessing step now, >0 = reprocessing n steps
		   		'TimeWorldRef'  :   {'TimeType': 'gmt', 'TimeLoad' : 0, 'TimeSave' : 0}, # 'local' or 'gmt' tags; timeload and timesave in hours difference referred to timetype
			   	'DB' 			: 	{ 'ID'		: 'DB_UNKNOWN',	# (1) DB_UNKNOWN, (2) DB_RegMarche  
			   						  'Server' 	: '',
			   						  'Name'	: '',
			   						  'User'	: '',
			   						  'Password': ''
			   						 },
 				'FileConfigStatic'	:	'/hydro/hmc_tools_datacreator/astrorad_ecmwf/config_variables/arad_model_ecmwf-0125_varstatic.config',
				'FileConfigDynamic'	:	'/hydro/hmc_tools_datacreator/astrorad_ecmwf/config_variables/arad_model_ecmwf-0125_vardynamic.config',
			   }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# GeoSystem Information
oGeoSystemInfo = {'epsg_code' : 						4326,
  				  'grid_mapping_name' : 				'latitude_longitude',
  				  'longitude_of_prime_meridian' : 		0.0,
  				  'semi_major_axis' : 					6378137.0,
  				  'inverse_flattening' : 				298.257223563,
		   		 }
#-------------------------------------------------------------------------------------
