#-------------------------------------------------------------------------------------
# HMC Model DataLand - Configuration DataStatic
# Version 2.0.4 (20150806)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input dynamic dictionary
oDataInputDynamic = { 'None' : ''}
# Data output dynamic dictionary
oDataOutputDynamic =	{ 'None' : ''}
#-------------------------------------------------------------------------------------
						
