#-------------------------------------------------------------------------------------
# HMC MOdel DataLand - Settings File
# Version 2.0.4 (20150823)
#
# VARIABLE OPTION(s)
# VarType				---> 	'Grid', 'Point', 'Vector'
# VarTimeStep			---> 	>=0
# Zip 					---> 	'NoZip', 'GZip'
# Interpolation Point 	---> 	'IDW', 'NN', 'ZReg'
# Interpolation Grid 	---> 	'NN'
# Save Func				---> 	write1DVar, write2DVar
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Path information
oPathInfo = {	
				'DataStaticSource'		:	'/hydro/data/static_data/land/raw/',
				'DataStaticOutcome'	    : 	'/hydro/data/static_data/land/elab/',
				'DataTemp'				:	'/hydro/data/static_data/temp/',
				'DataCache'				:	'/hydro/data/static_data/cache/',
				'Library'				: 	'/hydro/library/hmc_land-apps_1.0.0/',
				}
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# General Information
oGeneralInfo = {
					'Conventions' 						:	'CF-1.6',
  				 	'title' 							: 	'HMC Model DataLand',
  				  	'institution' 						: 	'CIMA Research Foundation - www.cimafoundation.org',
  				  	'web-site' 							: 	'http://continuum.cimafoundation.org',
  				  	'source' 							: 	'HMC Model DataLand',
  				  	'history'							: 	'Python Module - StaticData LAND in ASCII e NetCDF format',
  				  	'references'						: 	'http://cf-pcmdi.llnl.gov/ ; http://cf-pcmdi.llnl.gov/documents/cf-standard-names/ecmwf-grib-mapping',
  				  	'comment'							: 	'Author(s): Fabio Delogu ; Simone Gabellani ; Francesco Silvestro',
  				  	'email'								: 	'fabio.delogu@cimafoundation.org ; simone.gabellani@cimafoundation.org ; francesco.silvestro@cimafoundation.org',
  				  	'project-info'						:	'HMC Hydrological Model Continuum',
  				  	'algorithm'							:	'HMC Model DataLand - Version 2.0.4 (20150823)',
		   		 }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Parameter(s) Information
oParamsInfo = {
					'DomainName' 						:	'marche',
			   		'Channels_Distinction_Parameter' 	:	150000,
			   		'Wt_Parameter' 						:	50,
			   		'Coeff_Resol_Map_Parameter'			:	0.5,
			   		'Model_Mean_Parameter' 				:	{'ct': 0.5, 'cf': 0.02, 'uc': 20, 'uh': 1.5},	# Reg.Marche
	 				'FileConfigStatic'	:	'/hydro/hmc_tools_dataland/config_variables/hmc_model_dataland_varstatic.config',
				    'FileConfigDynamic'	:	'/hydro/hmc_tools_dataland/config_variables/hmc_model_dataland_vardynamic.config',
			  }
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# GeoSystem Information
oGeoSystemInfo = {
					'epsg_code' 						:	4326,
  				  	'grid_mapping_name' 				: 	'latitude_longitude',
  				  	'longitude_of_prime_meridian' 		:	0.0,
  				  	'semi_major_axis' 					:	6378137.0,
  				  	'inverse_flattening' 				:	298.257223563,
		   		 }
#-------------------------------------------------------------------------------------


