#-------------------------------------------------------------------------------------
# RS DynamicData DB Network - Configuration DataDynamic
# Version 1.0.0 (20151204)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input dynamic dictionary
oDataInputDynamic	= { 
    'CSV'	: {
        'Discharge'  : { 	
            'VarType'	 	: 'Point',
            'VarTimeStep' 	: 1800,
            'VarAttributes'	: {
                'long_name' 		: '',
                'standard_name' 	: '',
                'grid_mapping' 	    : '',
                'coordinates' 		: '',
                'cell_method' 		: '',
                'units' 			: 'm^3/s',
                'pressure_level'	: '',
                            },
            'VarSource'		: 'Discharge_$yyyy$mm$dd$HH$MM.csv',
            'VarDims'		: {},
            'VarOp'			: {	
                'Op_GetEx'      : {	
		            'Func' 			: '',
		            'Name'			: 'LV',
		            'Comp'			: {},
		            'Zip'			: '',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
			                    },
                'Op_Load'       : {	
		            'Func' 			: '',
		            'Name'			: 'Discharge',
		            'Comp'			: {	
                                        'IN'    : {'Var_1' : 'Discharge'},                                                                                    
                                        'OUT'   : {'Var_1' : 'Discharge'}, 
			                        },	        
		            'Zip'			: 'nzip',
		            'ScaleFactor'	: 1,
		            'Format'		: '',
			                    },
                'Op_Save'       : {	
		            'Func' 			: '',
		            'Name'			: '',
		            'Comp'			: {},
		            'Zip'			: '',
		            'ScaleFactor'	: '',
		            'Format'		: '',
			                    },
                'Op_Math'       : {	
		            'Interpolation' : {'Func' : ''},       
		            'Conversion'	: {'Func' : ''},
		            'Disaggregation': {'Func' : ''},
		            'Aggregation'	: {'Func' : ''},
			                    },
                            },
                        },
                },
}

# Data output dynamic dictionary 
oDataOutputDynamic  = { 
    'ASCII'    : {
        'Discharge' : {	
            'VarType'		: 'Point',
            'VarTimeStep'	: 3600,
            'VarAttributes'	: {
	             'long_name' 		: '',
	             'standard_name' 	: '',
	             'grid_mapping' 	: '',
	             'coordinates' 		: '',
	             'cell_method' 		: '',
	             'units' 			: 'm^3/s',
	             'pressure_level'	: '',
                            },
            'VarSource'	 	: 'rs.db.$yyyy$mm$dd$HH$MM.txt',
            'VarDims'		: {},
            'VarOp'			: {	
                'Op_GetEx'      : {	
					'Func' 			: 	'',
					'Name'			:	'',
					'Comp'			:	{},
					'Zip'			:	'',
					'ScaleFactor'	:	1,
					'Format'		:	'',
				                },
	            'Op_Load'       : {	
					'Func' 			: 	'',
					'Name'			:	'',
					'Comp'			:	{},
					'Zip'			:	'',
					'ScaleFactor'	:	1,
					'Format'		:	'',
				                },
	            'Op_Save'       : {	
					'Func' 			: 'write2DVar',
					'Name'			: '',
					'Comp'			: {},
					'Zip'			: '',
					'ScaleFactor'	: 1,
					'Format'		: 'f4',
				                },
	            'Op_Math'       : {	
					'Interpolation' : {'Func' : ''},
					'Conversion'	: {'Func' : ''},
					'Disaggregation': {'Func' : ''},
					'Aggregation'	: {'Func' : ''},
				                },
                            },
                        },
                },
}
#-------------------------------------------------------------------------------------


