#-------------------------------------------------------------------------------------
# RS DynamicData DB Network - Configuration DataStatic
# Version 1.0.0 (20151204)
#-------------------------------------------------------------------------------------

#-------------------------------------------------------------------------------------
# Data input static dictionary
oDataInputStatic	=	{ 
    'ASCII' 	: {
        'OutletSection'	: {
	        'VarType'		: 'Point',
	        'VarTimeStep'	: 0,
	        'VarAttributes'	: 
                            {
		         'long_name' 		: '',
		         'standard_name' 	: '',
		         'grid_mapping' 	: '',
		         'coordinates' 		: '',
		         'cell_method' 		: '',
		         'units' 			: '-',
		         'pressure_level'	: '',
	                        },
	        'VarSource'	 	: 'marche.info_section.txt',
	        'VarDims'		: {'X': '', 'Y': ''},
	        'VarOp'			: {	
	            'Op_GetEx'      : {	
			        'Func' 			: '',
			        'Name'			: '',
			        'Comp'			: {},
			        'Zip'			: '',
			        'ScaleFactor'	: 1,
			        'Format'		: '',
		                        },
    	        'Op_Load'       : {	
			        'Func' 			: 'read2DVar',
			        'Name'			: '',
			        'Comp'			: {},
			        'Zip'			: 'nzip',
			        'ScaleFactor'	: 1,
			        'Format'		: '',
				                },
	            'Op_Save'       : {	
			        'Func' 			: '',
			        'Name'			: '',
			        'Comp'			: {},
			        'Zip'			: '',
			        'ScaleFactor'	: '',
			        'Format'		: '',
				                },
	            'Op_Math'       : {	
			        'Interpolation' : '',
			        'Conversion'	: '',
			        'Disaggregation': '',
			        'Aggregation'	: '',
				                },
					        },
                        },	
                },
}		
